<%= div_for comment do %>
  <div class="sectionResource">
  <h4>
     <%= comment.supplier_id ? comment.supplier.supplier_name : comment.name %> :
  </h4>
  <%if comment.user_id.present?%>
    <%= link_to "Report Abuse", new_admin_abuse_report_path(:user_id => comment.user_id),:class=> "btn"%>
  <%else%>
    <%= link_to "Report Abuse", new_admin_abuse_report_path(:comment_id => comment.id),:class=> "btn"%>
  <%end%><br>
  Posted On: <%= comment.updated_at.strftime("%Y-%m-%d") %> <br/>
  Message: <%= raw(comment.title) %>
  <% if comment.ispublished == false%>
    <%= form_for([:admin, @review, comment]) do |f| %>
      <%# if current_user.role == "jagent" %>
        <%#= link_to "Modify Comment" ,edit_admin_review_comment_path(:review_id => @review.id, :id => comment.id ) %>
      <%# else %>
        <%= f.submit 'Publish', class: "btn btn-primary" %>
      <%# end %>
    <% end %>
  <%end%>
  </div>
 <% end %>
