<h3>Add Comment<h3/>
<%=form_for([:admin,@review, @review.comments.new]) do |f| %>

  <div class="field">
    <%= f.label :title, 'Message' %>
    <%= f.text_area  :title, :required => true %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :supplier_id, "on Behalf of" %>
    <%= f.collection_select :supplier_id, Supplier.where('subscription != ?',"Not Registered"), :id, :supplier_name, :required => true  %>
  </div>
  <div class="actions rgh_in">
      <%= f.submit 'Post Comment', :confirm => "Are you sure..?",class: "btn btn-primary" %><br/>
  </div>
<%end%>
