<%= form_for([:admin,@address]) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %>
    <%= f.collection_select :company_id, Company.order(:industry_id),:id,:title, include_blank: true, required: true%>
  </div>

  <div class="field">
    <%= f.label :town %>
    <%= f.collection_select :town_id, Town.order(:title), :id, :title, include_blank: true ,required: true%>
  </div>

  <div class="field">
    <%= f.label :locations %>
    <%= f.grouped_collection_select :location_id, Town.order(:title), :locations, :title, :id, :title, include_blank: true, required: true%>

  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
