<%= link_to "Download Data", admin_notifications_path(params.merge(format: "xls")),:class => "btn btn-primary" unless (current_user.is? :jagent )%><br/><br/>
<b>My Comment Notifications</b>
<table id="notification" cellpadding=10>
	<thead>
    <tr>
      <th>Sr. No.</th>
      <th>Ticket Number</th>
      <th>Review Title</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
	<tbody>
	<% @notifications.each.with_index(1) do |notification,index| %>
	<tr>
		<td><%= index %></td>
		<td><%= link_to notification.comment.review.ticket_number,admin_review_path(notification.comment.review.id) %></td>
		<td><%= notification.comment.review.title %></td>
		<td><%= notification.comment.title.html_safe %></td>
		<td><%= notification.comment.created_at.strftime("%d/%m/%Y | %H:%M") %></td>
		<td><%= notification.comment_status %></td>
	</tr>
	<% end %>
</tbody>
</table>
<br/>

<% if !@all_notifications.nil? %>
<b>All Comment Notifications</b>
<table id="allnotification" cellpadding=10>
	<thead>
    <tr>
      <th>Sr. No.</th>
      <th>Ticket Number</th>
      <th>Review Title</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
	<tbody>
	<% @all_notifications.each.with_index(1) do |notification,index| %>
	<tr>
		<td><%= index %></td>
		<td><%= link_to notification.comment.review.ticket_number,admin_review_path(notification.comment.review.id) %></td>
		<td><%= notification.comment.review.title %></td>
		<td><%= notification.comment.title.html_safe %></td>
		<td><%= notification.comment.review.created_at.strftime("%d/%m/%Y | %H:%M") %></td>
		<td><%= notification.comment_status %></td>	
	</tr>
	<% end %>
</tbody>
</table>
<br/>
<% end %>

