<%= form_for([:admin,@nature_of_review]) do |f| %>
  <% if @nature_of_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nature_of_review.errors.count, "error") %> prohibited this nature_of_review from being saved:</h2>

      <ul>
      <% @nature_of_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title ,required: true%>
  </div>
  <div class="field">
    <%= f.label :review_type %>
    <%= f.select :review_type ,["Compliment","Complaint"], required: true%>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
