<%= form_for :agent, url: admin_agents_path(:agent), html: {method: :post} do |f| %>
<%#= form_for([:admin,@agent]) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name ,required: true%>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name ,required: true%>
  </div>
  <div class="field">
    <%= f.label :preferred_alias %>
    <%= f.text_field :preferred_alias ,required: true%>
  </div>
  <div class="field">
    <%= f.label :role %>
    <% if current_user.is? :agent %>
     <%= f.select :role, [ ["Junior Agent", "jagent"]] %>
     <% else %>
    <%= f.select :role, [ ["Senior Agent", "agent"], ["Junior Agent", "jagent"]]%>
    <% end %>
  </div>
  <div class="field">
    Email<br/>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
