<%= form_for :agent, url: admin_agent_path(@agent.id), html: {method: :PUT} do |f| %>
<%#= form_for([:admin,@agent]) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name ,required: true%>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name ,required: true%>
  </div>
  <div class="field">
    <%= f.label :preferred_alias %>
    <%= f.text_field :preferred_alias ,required: true%>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field"> Password: *</div>
    <%= f.password_field :password, required: true , "min" => "4","max" => "8",:id=>"password1"%>
  </div>

  <div class="field">Confirm Password: *</div>
    <%= f.password_field :password_confirmation, required: true , "min" => "4","max" => "8",:id=>"password2",:oninput=>"check(this)"%>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
<script>
function check(input) {
  if (input.value != document.getElementById('password1').value) {
    input.setCustomValidity('Password should match confirm password.');
  } else {
  input.setCustomValidity('');
 }
}
</script>