<h1>Agents</h1>

<table id="agents" >
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Preffered Name</th>
      <th>Email</th>
      <th>Agent</th>
      <th>Ip Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.first_name %></td>
        <td><%= agent.last_name %></td>
        <td><%= agent.preferred_alias %></td>
        <td><%= agent.email %></td>
        <td><%= agent.role == "jagent" ? "Junior Agent" : "Senior Agent" %></td>
        <td><%= agent.last_sign_in_ip %></td>
        <td>
        <% if current_user.is? :admin %> 
          <%= link_to 'Edit', edit_admin_agent_path(agent) if can? :edit, User%>
          <%= link_to 'Destroy', admin_agent_path(agent), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, User%>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.is? :admin %> 
<%= link_to 'New Agent', new_admin_agent_path, class: "btn btn-primary" if can? :create, User%>
<% end %>