<%= form_for([:admin,@company_performance]) do |f| %>
  <% if @company_performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_performance.errors.count, "error") %> prohibited this company_performance from being saved:</h2>
      <ul>
      <% @company_performance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Image or Quotes:</strong><br>
    <%= f.file_field :performance_img %>
  </div><br>
  <div class="field">
    <strong>Link:</strong><br>
    <%= f.url_field :worst_performance  %>
  </div><br>
  <%unless @company_performance.performance_img.blank? %>
    <div class="field">
      <strong>Image:</strong><br>
      <%= image_tag @company_performance.performance_img %>
    </div><br>
  <%end%>
  <div class="field">
    <strong>Add another image:</strong>
    <%= f.file_field :best_performance %>
  </div><br>
  <div class="field">
    Page: 
    <%= f.select :box_type, [ ["Reviews", "companies"], ["Home", "welcome"],["Profile" , "users"],["Resources" , "resources"],["CSR" , "csr"],["About Us", "About us"], ["My Review","reviews"],["Polls Results","polls"], ["Detailed Review","show_review"], ["Company Reviews","search_reviews"]   ]%>
  </div>
  <div class="field">
    <strong>Start Date:</strong><br>
    <%= f.date_select :start_date  %>
  </div><br>

  <div class="field">
    <strong>End Date:</strong><br>
    <%= f.date_select :end_date  %>
  </div>

  <div class="actions">
     <%= f.submit "Save",class: "btn btn-primary"%><br>
  </div>
 <%end%>
