<%= div_for comment do %>
		      <div class="row1">
				 <div class="commentsr">
				<%if comment.user_id  && ['agent', 'admin','jagent'].include?(comment.user.role) %>
 				<p class="names"><img src="/assets/fill.png" alt=""><strong> Company Response: <%= comment.supplier.supplier_name%></strong></p>
				<%elsif comment.user_id && comment.user_id == @review.user_id %>
				 <p class="names"><img src="/assets/blank.png" alt=""><strong style="color:#696969"> <%= comment.name%></strong></p>
				<%else%>
				 <p class="names"><img src="/assets/blank.png" alt=""><strong style="color:#696969"> <%= comment.name%></strong></p>
				<%end%>
			 <p class="dates"> <%= comment.created_at.strftime("%d %h %y | %H:%M") %></p>
			   <div class="clear"></div>
                <p class="textnew" style="text-align: justify !important;"><%= raw (comment.modified_comment ? comment.modified_comment : comment.title) %> </p>
                </div>
	  			</div>
<% end %>
