 <%if !current_user || (current_user.is_customer?)%>
	<%=form_for([@review, @review.comments.new]) do |f| %>
		<h3>Add Comment<h3/>
			<%= f.hidden_field :user_id, :value=>(current_user.id if current_user)%>
		<div>
			<div class="field">
				<%= f.label :name %>
				<%= f.text_field  :name ,:value=>(current_user.first_name if current_user), :required=>true%>
			</div>
		</div>

		<div>
			<div class="field">
				<%= f.label :email %>
				<%= f.email_field  :email ,:value=>(current_user.email if current_user), :required=>true%>
			</div>
		</div>
		<div>
			<div class="field">
			  <%= f.label :title, 'Message' %>
			  <%= f.text_area  :title  , :class => 'ckeditor' %>
			</div>
		</div>
		<div class="actions rgh_in">
			  <%= f.submit 'Post Comment' %><br/>
		</div>
	<%end%>
<%end%>
