<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>
<span class="span6">
  <div class="sectionMid">
    <h2>Search Result: </h2>
    <ul>
      <% @review_results.each do |review| %>
        <li><%=link_to review.title.html_safe, admin_review_path(review)%></li>
        <!-- <li><%#=link_to review.title.html_safe, admin_search_reviews_path(review_id: review.id)%></li> -->
      <% end %>
      
      <% @comment_results.each do |comment| %>
        <li><%=link_to comment.title.html_safe, admin_review_path(comment.review)%></li>
      <% end %>
      
      <% @company_results.each do |company| %>
        <li><%=link_to company.title.html_safe, admin_company_path(id: company.id)%></li>
        <li><%=link_to company.title.html_safe, admin_search_reviews_path(company_id: company.id)%></li>
      <% end %>

      <% @town_results.each do |town| %>
        <li><%=link_to town.title.html_safe, admin_town_path(id: town.id)%></li>
      <% end %>

      <% @location_results.each do |location| %>
      <li><%=link_to location.title.html_safe, admin_search_reviews_path(location_id: location.id)%></li>
        <li><%=link_to location.title.html_safe, admin_location_path(id: location.id)%></li>
      <% end %>

      <% @supplier_results.each do |supplier| %>
        <li><%=link_to supplier.title.html_safe, admin_search_reviews_path(supplier_id: supplier.id)%></li>
      <% end %>


      <% @user_results.each do |user| %>
        <li><%=link_to user.first_name.html_safe, admin_user_path(id: user.id)%></li>
      <% end %>

    </ul>
  </div>
</span>
