<div id="sidebar">
  <div id="sidebar-shortcuts">
    <div id="sidebar-shortcuts-large">
      <button class="btn btn-small btn-success">
        <i class="icon-signal"></i>
      </button>

      <button class="btn btn-small btn-info">
        <i class="icon-pencil"></i>
      </button>

      <button class="btn btn-small btn-warning">
        <i class="icon-group"></i>
      </button>

      <a href="#"><button class="btn btn-small btn-danger">
        <i class="icon-cogs"></i>
      </button></a>
    </div>

    <div id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!--#sidebar-shortcuts-->

  <ul class="nav nav-list">
    <li class="<%=(@active_tab == 'dashboard') ? 'active' : ''%>">
				<%=link_to raw(action_button_helper('Dashboard')), admin_index_path%>
    </li>
    	<% if can? :manage, Maintainence %>
		  <li class="<%=(@active_tab == 'Maintainence') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Maintainence','icon-edit')),admin_maintainences_path%>
		  </li>
		<%end%>
		<% if can? :read, Page%>
		  <li class="<%=(@active_tab == 'pages') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Pages','icon-edit')),admin_pages_path%>
		  </li>
		<%end%>

		<% if can? :read, Resource%>
		  <li class="<%=(@active_tab == 'resources') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Resources','icon-desktop')),admin_resources_path%>
		  </li>
		<%end%>

		<%  if can? :read, ResourceType%>
		  <li class="<%=(@active_tab == 'resource_types') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Resource Types')),admin_resource_types_path%>
		  </li>
		<%end%>

		<% if current_user.is? :admin  %>
		  <li class="<%=(@active_tab == 'customers') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Customers','icon-edit')),admin_customers_path%>
		  </li>
		<%end%>

		<% if current_user.is? :admin  %>
		  <li class="<%=(@active_tab == 'contactus') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Contact Us','icon-edit')),admin_contact_us_path%>
		  </li>
		<%end%>

		
		<%  if can? :read, MonitorJagent %>
		  <li class="<%=(@active_tab == 'Monitor Agents') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Monitor Agents','icon-cogs')), admin_monitor_jagents_path%>
		  </li>
    	<%end%>

    	<%  if can? :read, Notification %>
		  <li class="<%=(@active_tab == 'Notification Comments') ? 'active' : ''%>">
		  	<%=link_to raw(action_button_helper('Comments','icon-cogs')), admin_notifications_path %>
					
		  </li>
    	<%end%>


		<%  if can? :read, Industry%>
		  <li class="<%=(@active_tab == 'industries') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Industries','icon-cogs')), admin_industries_path%>
		  </li>
    <%end%>

		<%  if can? :read, Company %>
		  <li class="<%=(@active_tab == 'companies') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Companies','icon-cog')), admin_companies_path%>
		  </li>
		<%end%>

		<%if can? :read, Town%>
		  <li class="<%=(@active_tab == 'towns') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Towns','icon-globe')),admin_towns_path %>
		  </li>
		<%end%>

		<% if can? :read, Location%>
		  <li class="<%=(@active_tab == 'locations') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Locations','icon-cloud')), admin_locations_path%>
		  </li>
		<%end%>

		<% if can? :read, Address %>
		  <li class="<%=(@active_tab == 'addresses') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Addresses', 'icon-home')), admin_addresses_path%>
		  </li>
		<%end%>
		<%if can? :read, NatureOfReview %>
		  <li class="<%=(@active_tab == 'nature_of_reviews') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Nature of Reviews')), admin_nature_of_reviews_path%>
		  </li>
		<%end%>

		<% if can? :read, Review%>
		  <li class="<%=(@active_tab == 'reviews') ? 'active' : ''%>">
		  	<% if current_user.is? :jagent%>
		  		<%=link_to raw(action_button_helper('All Reviews', 'icon-eye-open')),admin_reviews_path%>
		  	<% else %>
		  		<%=link_to raw(action_button_helper('Assign Reviews', 'icon-eye-open')),admin_reviews_path%>
			<% end %>
		  </li>
		<%end%>

		<% if (current_user.is? :admin) || current_user.is_agent? %>
		  <li class="<%=(@active_tab == 'archive_reviews') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Archive Reviews','icon-edit')), archive_reviews_admin_reviews_path %>
		  </li>
		<%end%>

		<% if can? :read, Faq%>
	    <li class="<%=(@active_tab == 'faqs') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('FAQs','icon-edit')),admin_faqs_path%>
  	  </li>
  	<%end%>

	<% if can? :read, Poll%>
	    <li class="<%=(@active_tab == 'polls') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Polls','icon-list-alt')),admin_polls_path%>
  	  </li>
  	<%end%>

  	<% if current_user.is_admin? || (current_user.is? :agent)%>
	  <li class="<%=(@active_tab == 'agents') ? 'active' : ''%>">
		<%=link_to raw(action_button_helper('Agents','icon-list-alt')),admin_agents_path%>
  	  </li>
  	<%end%>

  	 <% if can? :read, Supplier%>
	    <li class="<%=(@active_tab == 'suppliers') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Suppliers','icon-list-alt')),admin_suppliers_path%>
  	  </li>
  	<%end%>
  	<% if can? :manage, CompanyPerformance%>
	    
	    <li class="<%=(@active_tab == 'company_performances') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Static Boxes')), admin_company_performances_path%>
  	    </li>
  	<%end%>


  	 <% if can? :manage, Advertise%>
	    <li class="<%=(@active_tab == 'advertises') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Advertising','icon-list-alt')),admin_advertises_path%>
  	  </li>
  	<%end%>

  	<% if can? :manage, Seo%>
	    <li class="<%=(@active_tab == 'seos') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Seo','icon-list-alt')),admin_seos_path%>
  	  </li>
  	<%end%>

  	

  	<% if current_user.is_admin?%>
	    <li class="<%=(@active_tab == 'reports') ? 'active' : ''%>">
					<%=link_to raw(action_button_helper('Reports','icon-list-alt')),admin_reports_path%>
  	  </li>
    <%end%>
  	

  </ul><!--/.nav-list-->

  <div id="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
  </div>
</div>
