  <h4>Customers</h4>
	<table id="customers">
		<thead>
		  <tr>
		    <th>Alias</th>
		    <th>Email</th>
		    <th>Email Confirmation</th>
		    <th>Last Sign In Time</th>
		    <th>Last Sign In IP</th>
		    <th>Action</th>
		  </tr>
		</thead>

		<tbody>
		  <% @customers.each do |user| %>
		    <tr>
		      <td><%= user.preferred_alias %></td>
		      <td><%= user.email%></td>
		      <td><%= user.confirmed_at.present? ? 'Confirmed' : 'Pending'%></td>
		      <td><%= user.last_sign_in_at.strftime("%d %b %y %H:%M") rescue nil %></td>
		      <td><%= user.last_sign_in_ip %></td>
		      <td>
		        <%= link_to 'Show', admin_user_path(user), class: "btn btn-primary" if can? :show, User, :role => 'user' %>
        		<%= link_to 'Destroy', admin_user_path(user), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, User%>
  				</td>
		    </tr>
		  <% end %>
		</tbody>
	</table>