<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#more_details").hide();
  $("#hide").hide();
  
  $("#hide").click(function(){
    $("#more_details").hide();
    $("#show").show();
    $("#hide").hide();
  });
  $("#show").click(function(){
    $("#more_details").show();
    $("#show").hide();
    $("#hide").show();
  });
});
</script>
<input type="button" id="hide" class="btn btn-primary" value="Hide Details">
<input type="button" id="show" class="btn btn-primary" value="Show Details">
<%= form_for([:admin,@review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <strong> Ticket Number: </strong><%=@review.ticket_number%>
  </div><br/>
  <div id="more_details">
      <%= link_to "Report Abuse", new_admin_abuse_report_path(:user_id => @review.user_id),:class=> "btn"%><br>
      <div class="field">
         <strong>Review Type: </strong><%= @review.review_type %>
      </div><br/>
      <div class="field">
    		<strong>Title:</strong><%= @review.title  rescue nil%>
      </div><br/>
      <div class="field">
    		<strong>Review:</strong>
        <p><%= @review.message rescue nil %></p>
      </div><br/>
      <div class="field">
      <strong>Industry:</strong>
      <%= @review.industry.title  rescue nil%>
    </div><br/>

    <div class="field">
      <strong>Company:</strong>
      <%= @review.company.title rescue nil %>
    </div><br/>

    <div class="field">
      <strong>Town:</strong>
      <%= @review.town.title  rescue nil%>
    </div><br/>

    <div class="field">
      <strong>Location:</strong>
      <%= @review.location.title  rescue nil%>
    </div><br/>


    <div class="field">
      <strong>Personal Responsible:</strong>
      <%= @review.personal_responsible %>
    </div><br/>

    <div class="field">
      <strong>Nature of Review:</strong>
      <%= @review.nature_of_review %>
    </div>

    <div class="field">
      <strong>Image:</strong>
      <%= image_tag(@review.file) %>
    </div>
  </div><br/>
  <% unless @review.file.file.nil? %>
  Attached File: <%= link_to image_tag(@review.file.url),@review.file.url %>
  <% end %>
  <div>
		<strong>Edit Review:</strong>
		<input type="checkbox" name="review[is_modified]" id="review_is_modified" value="true" style="opacity:1;" checked="<%@review.is_modified ? 'checked' : '' %>">
  </div>
  <div id="agent_modified_review" class="field">
		<strong>Modified Review:</strong><br/>
    <%= f.text_area :modified_review , :value=>(@review.is_modified ? @review.modified_review : @review.message) ,:class=>"ckeditor"%>
  </div>
  <br/>
  <%if params[:type] == "archive" || params[:type] == "archive_attachment" %>
    <div id="agent_modified_review" class="field">
      <strong>Reason for archive:</strong><br/>
      <%= f.text_area :notes ,:class=>"ckeditor"%>
    </div>
  <%end%>

	<br/>
  <div class="actions">
    <%unless @review.ispublished || @review.archive%>
      <%unless params[:type] == "archive" || params[:type] == "archive_attachment"%>
        <% if current_user.is? :jagent %>
          <%= f.submit 'Save', class: "btn btn-primary"%>
        <% else %>
          <%= f.submit 'Publish', class: "btn btn-primary"%>
        <% end %>
      <%end%>
      <%unless params[:type] == "archive" || params[:type] == "archive_attachment" %>
        <%= link_to 'Archive', edit_admin_review_path(params[:id],:type => "archive"), class: "btn" ,style: "line-height: 18px;"if can? :edit, Review%>
        <% unless @review.archive_attachment %>
         <% unless  @review.file.file.nil? %>
          <%= link_to 'Archive Attachment', edit_admin_review_path(params[:id],:type => "archive_attachment"), class: "btn",style: "line-height: 18px;" if can? :edit, Review%>
        <% end %>
        <% end %>
      <%else%>
        <% if params[:type] == "archive" %>
        <%= f.submit 'Archive', class: "btn"%>
        <% else %>

          <%= f.submit 'Archive-Attachment', class: "btn"%>
        <%end%>
      <%end%>
   <%else%>
       <%= f.submit 'Update', class: "btn btn-primary"%>
   <%end%>

  </div>
<% end %>
