
<h4>Archived Reviews</h4>
<%= link_to "Download Data",  archive_reviews_admin_reviews_path(params.merge(format: "xls")),:class => "btn btn-primary"%><br/><br/>
<table id="archived_review" >
  <thead>
    <tr>
      <th width="10%">Date</th>
      <th width="15%">Ticket Number</th>
      <th width="10%">Review</th>
      <th width="15%">Company</th>
      <th width="15%">Title</th>
      <th width="15%">Customer Name</th>
      <th width="20%">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @archived_reviews.each do |review| %>
      <tr>
      <td><%=review.created_at.strftime("%d/%m/%Y | %H:%M") rescue nil %></td>
		  <td><%=review.ticket_number rescue nil %></td>
		  <td><%=review.review_type rescue nil %></td>
		  <td><%=review.company.title rescue nil %></td>
		  <td><%=review.title rescue nil %></td>
      <td><%=review.try(:user).try(:full_name)%></td>
       <td>
        <%= link_to 'Show', admin_review_path(review) , class: "btn btn-primary" if can? :show, Review%>
        <%#= link_to 'Destroy', admin_review_path(review), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<h4>Archived Files</h4>
<%= link_to "Download Data",  archive_files_admin_reviews_path(params.merge(format: "xls")),:class => "btn btn-primary"%><br/><br/>
<table id="arfiles" >
  <thead>
    <tr>
       <th>Sr. No.</th>
       <th>Ticket No</th>
       <th>Date</th>
       <th>File Name</th>
       <th>Reason</th>
    </tr>
  </thead>

  <tbody>
    <% @archived_attachments.each.with_index(1) do |ar,index| %>
      <tr>
        <td><%= index %></td>
        <td><%= ar.ticket_number %></td>
        <td><%= ar.created_at.strftime("%d/%m/%Y | %H:%M") rescue nil %></td>
        <td><%= link_to "Attachment",ar.file.url  %>&nbsp;</td>
        <td><%= ar.notes.html_safe %>&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>