<p id="notice"><%= notice %></p>
<p>
  <strong>Ticket Number:</strong>
  <%= @review.ticket_number %>
</p>
<p>
  <strong>Review Type:</strong>
  <%= @review.review_type %>
</p>
<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>
<p>
  <strong>Message:</strong>
  <%= @review.message %>
</p>