<script type="text/javascript">
  $.noConflict();
  
  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#date').datepicker( 
    { altField  : '#date',  // selector of the hidden input field you want sent to the server
      minDate: 0,
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });
});

jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#date1').datepicker( 
    { altField  : '#date',  // selector of the hidden input field you want sent to the server
      minDate: 0,
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });
});

</script>

<% if (current_user.is? :jagent) %>
<h1>My Reviews to action</h1>
<table id="reviews" >
  <thead>
    <tr>
      <th>Sr. No.</th>
      <th>Ticket Number</th>
      <th>Review</th>
      <th>Company</th>
      <th>Title</th>
      <th>Date</th>
      <th>Customer Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each_with_index do |review,i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%=review.ticket_number rescue nil %></td>
        <td><%=review.review_type rescue nil %></td>
        <td><%=review.company.title rescue nil %></td>
        <td><%=review.title rescue nil %></td>
        <td><%=review.created_at.strftime("%d/%m/%y | %H:%M") rescue nil %></td>
        <td><%=review.try(:user).try(:preferred_alias)%></td>
        <td>
          <% if (review.ispublished || review.archive || review.is_modified || review.modified_review) && (current_user.is? :jagent) %>
          <% else %>
            <%= link_to 'Edit', edit_admin_review_path(review) , class: "btn btn-primary" if can? :edit, Review%>
          <%end%>
          <%= link_to 'Comment', admin_review_path(review), class: "btn" if can? :edit, Review%> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<% if (current_user.is? :admin) || (current_user.is? :agent) %>
<h1>Assign reviews to agents (Reviews which are not yet assigned)</h1>
<%= link_to "Download Data",  admin_reviews_path(params.merge(format: "xls")),:class => "btn btn-primary"%>
    <%= form_tag admin_assign_reviews_path ,:method => :put do |f|%>
<table id="reviews1" >
  <thead>
    <tr>
      <th></th>
		  <th>Ticket Number</th>
      <th>Date</th>
      <th>Industry</th>
		  <th>Company</th>
		  <th>Title</th>
      <th>Customer Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody> 
    <% @areviews.each do |review| %>
      <%if review.user.confirmed_at.present?%>
      <tr>
        <td><%= check_box_tag "review_ids[]", review.id, false,:style => "opacity:0.67" %></td>
				<td><%=review.ticket_number rescue nil %></td>
        <td><%=review.created_at.strftime("%d/%m/%Y") rescue nil %></td>
        <td><%=review.industry.title rescue nil %></td>
				<td><%=review.company.title rescue nil %></td>
				<td><%=review.title rescue nil %></td>
		    <td><%=review.try(:user).try(:preferred_alias)%></td>
		    <td>
          <%unless review.ispublished || review.archive %>
            <%= link_to 'Edit', edit_admin_review_path(review) , class: "btn btn-primary" if can? :edit, Review%>
          <%end%>
          <%#= link_to 'Destroy', admin_review_path(review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <%= link_to 'Comment', admin_review_path(review), class: "btn" if can? :edit, Review%> 
		    </td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table><br/>
    <label>Enter date, till what date reviews should be processed</label>
    <%= text_field_tag :date,nil,:placeholder => "Enter Date"%><br/>
    <%= hidden_field_tag 'agent_id', current_user.id %>
    <%= select_tag 'user_id', options_for_select(@users.collect{ |u| [u.preferred_alias, u.id] }) %><br/>
   <%= submit_tag "Assign Reviews", :confirm => "Please check and confirm to assign reviews and proposed date to finish." %>
    <% end %>
<br>


<h1>ReAssign Reviews (Reviews which are already assigned)</h1>
<%= form_tag admin_assign_reviews_path ,:method => :put do %>
<table id="reviews3"  >
  <thead>
    <tr>
      <th></th>
      <th>Ticket Number</th>
      <th>Review Assigned</th>
      <th>Assignee</th>
      <th>Last Assignee</th>
      <th>Last Ticket assigned to</th> 
      <th>Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @reareviews.each do |review| %>
      <%if review.user.confirmed_at.present?%>
      <tr>
        <td><%= check_box_tag "review_ids[]", review.id, false,:style => "opacity:0.67" %></td>
        <td><%= review.ticket_number rescue nil %></td>
        <td><%= review.jagent.preferred_alias rescue nil %></td>
        <td><%= review.agent.preferred_alias rescue nil %></td>
        <td><%= review.old_agent.try(:preferred_alias) %></td>
        <td><%= review.old_jagent.try(:preferred_alias) %></td>
        <td><%= review.created_at.strftime("%d %b %y %H:%M") %></td>
        <td><%=review.monitor_jagent.status rescue nil %></td>
        <td>
          <%unless review.ispublished || review.archive %>
            <%= link_to 'Edit', edit_admin_review_path(review) , class: "btn btn-primary" if can? :edit, Review%>
          <%end%>
          <%#= link_to 'Destroy', admin_review_path(review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <%= link_to 'Comment', admin_review_path(review), class: "btn" if can? :edit, Review%> 
        </td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<br/>
 <label>Enter date, till what date reviews should be processed</label>
    <%= text_field_tag :date1,nil,:placeholder => "Enter Date"%><br/>
   <%= hidden_field_tag 'reassign', "yes"%>
    <%= hidden_field_tag 'agent_id', current_user.id %>
    <%= select_tag 'user_id', options_for_select(@users.collect{ |u| [u.preferred_alias, u.id] }) %><br/>
   <%= submit_tag "Assign Reviews", :confirm => "Please check and confirm to assign reviews and proposed date to finish." %>
    <% end %>
<% end %>

