
 <%= stylesheet_link_tag    "jquery.ui.datepicker" %>
<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>
<style type="text/css">
.image {
    background-color: #e1e1e1;
    border: 1px solid #e5e5e5;
    color: #fbaf3f;
    display: block;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    width: 120px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    font-family: andlso;
    font-weight:bold;
 font-size:15px;
}

.btn-file:hover {
  text-decoration: underline;
  cursor:pointer;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.select_box_custom
{
    font-size: 13px; font-family: corbel; width: 140px;
}
select.select_box_custom option:hover {
       box-shadow: 0 0 10px 100px #fbaf3d inset;
   }
/*.select_box_custom :hover option
{
background-color:#FC0; font-size: 33px;
 }*/
</style>
<script type="text/javascript">
$( document ).ready(function() {
    if ($("#other_type").val()){
      $("#other_type").show();
    }
    else
      $("#other_type").hide();
});

function CheckOther()
{
  if (document.getElementById("user_i_live").value == "Other"){
        $("#other_type").show();
    }     
    else{
       $("#other_type").hide();
    }     
}

</script>

<% @city_group =
                 [
                 ["Nairobi", [["Arboretum","Arboretum"],["Buruburu","Buruburu"],
                                                                ["CBD","CBD"],
                                                                ["Dagoretti","Dagoretti"],
                                                                ["Donholm","Donholm"],
                                                                ["Eastleigh","Eastleigh"],
                                                                ["Embakasi","Embakasi"],
                                                                ["Garden Estate","Garden Estate"],
                                                                ["Gigiri","Gigiri"],
                                                                ["Highridge","Highridge"],
                                                                ["Hurlingham","Hurlingham"],
                                                                ["Industrial Area","Industrial Area"],
                                                                ["Jamhuri","Jamhuri"],
                                                                ["JKIA","JKIA"],
                                                                ["Kahawa","Kahawa"],
                                                                ["Karen","Karen"],
                                                                ["Kasarani","Kasarani"],
                                                                ["Kiambu Road","Kiambu Road"],
                                                                ["Kileleshwa","Kileleshwa"],
                                                                ["Kilimani","Kilimani"],
                                                                ["Kitengela","Kitengela"],
                                                                ["Komarock","Komarock"],
                                                                ["Langata","Langata"],
                                                                ["Lavington","Lavington"],
                                                                ["Loresho","Loresho"],
                                                                ["Lower Kabete","Lower Kabete"],
                                                                ["Madaraka","Madaraka"],
                                                                ["Milimani","Milimani"],
                                                                ["Mombasa Road","Mombasa Road"],
                                                                ["Museum Hill","Museum Hill"],
                                                                ["Muthiaga","Muthiaga"],
                                                                ["Nairobi West","Nairobi West"],
                                                                ["New Mathaiga","New Mathaiga"],
                                                                ["Ngara","Ngara"],
                                                                ["Ngong Road","Ngong Road"],
                                                                ["Ngumo","Ngumo"],
                                                                ["Parklands","Parklands"],
                                                                ["Ridgeways","Ridgeways"],
                                                                ["Riruta Satelite","Riruta Satelite"],
                                                                ["Riverside","Riverside"],
                                                                ["Rongal","Rongal"],
                                                                ["Rosslyn","Rosslyn"],
                                                                ["Roysambu","Roysambu"],
                                                                ["Ruaka","Ruaka"],
                                                                ["Runda","Runda"],
                                                                ["South B","South B"],
                                                                ["South C","South C"],
                                                                ["Spring Valley","Spring Valley"],
                                                                ["State House Crescent","State House Crescent"],
                                                                ["Thigiri","Thigiri"],
                                                                ["Thika Road","Thika Road"],
                                                                ["Umoja","Umoja"],
                                                                ["Upper Hill","Upper Hill"],
                                                                ["Valley Road","Valley Road"],
                                                                ["Westlands","Westlands"]]],
                 ["Coast", [["Bamburi","Bamburi"],["CBD","CBD"],["Diani","Diani"],["Kilifi","Kilifi"],["Lamu","Lamu"],["Malindi","Malindi"],["Mombasa","Mombasa"],["Nyali","Nyali"],["Voi","Voi"],["Watamu","Watamu"]]],
                 ["Kisumu", [["Kisumu", "Kisumu"]]],["Other - please specify",[["Other","Other"]]],]%>
<%= form_for(@user) do |f|%>
	<% if @user.present? && @user.errors.any? %>
		<div class="fom_con" style="color:red;">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
    <div class="profile-box1">
        <div class="row-profile">
            <div class="login-field-box3 row-left">
              <div class="text-box3">First Name *</div>
              <%= f.text_field :first_name, required: true, "maxlength"=>"35", "min" => "1","max" => "35" ,:class => "field3" %>
            </div>
            <div class="login-field-box3 row-right">
              <div class="text-box3">Last Name *</div>
              <%= f.text_field :last_name, required: true, "maxlength"=>"35", "min" => "1","max" => "35",:class => "field3" %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
              <div class="text-box3">Preferred Alias *</div>
              <%= f.text_field :preferred_alias,:disabled=>true ,"maxlength"=>"20", "min" => "1","max" => "20","id" =>"user_alias",:class => "field3" %>
            </div> 
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
              <div class="text-box3">Email *</div>
              <%= f.email_field :email, required: true , "maxlength"=>"70", "min" => "1","max" => "70", "autocomplete" => "off",:id=>"user_email", :disabled=>true, :class => "field3" %>
            </div>
            <div class="login-field-box3 row-right">
                <div class="text-box3">Confirm Email *</div>
                <%= f.email_field :email, required: true , "maxlength"=>"70", "min" => "1","max" => "70", "autocomplete" => "off",:id=>"user_email", :disabled=>true, :class => "field3" %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
              <div class="text-box3">Password *</div>
              <%= f.password_field :password , "maxlength"=>"8", "min" => "4","max" => "8",:id=>"password1",:class => "field3" %>
            </div>
            <div class="login-field-box3 row-right">
              <div class="text-box3">Confirm Password *</div>
              <%= f.password_field :password_confirmation , "maxlength"=>"8", "min" => "4","max" => "8",:id=>"password2",:class => "field3" %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
            <div class="text-box3">Gender *</div>
               <%= f.select :gender, [["Female", 2],["Male", 1]],{:prompt => "Select Gender"},:class => "field3 select_box_custom" %>
            </div>  
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
            <div class="text-box3">Age *</div>
              <%= f.select :age, [["18-25", "18-25"],["26-35", "26-35"],["36-45", "36-45"],["46-55", "46-55"],["55+", "55+"]], {:prompt => "Select Age"},:required => true,:class=>"field1 select_box_custom"%>
              <%#=f.hidden_field :age, :class=>"user_age" %>
            </div>
            <div class="login-field-box3 row-right">
                <div class="text-box3">DOB</div>
                <%= f.text_field :dob ,:class => "field3",:id => "datepicker1" %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
                <div class="text-box3">Address Line1 </div>
                <%= f.text_field :address_line1, "maxlength"=>"50", "min" => "1","max" => "50", :class => "field3" %>
            </div>
            <div class="login-field-box3 row-right">
                <div class="text-box3">Address Line2 </div>
                <%= f.text_field :address_line2,  "maxlength"=>"50", "min" => "1","max" => "50",:class => "field3" %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
                <div class="text-box3">Town</div>
                <%= f.text_field :town, "maxlength"=>"50", "min" => "1","max" => "50", :class => "field3" %>
            </div>
            <div class="login-field-box3 row-right">
                <div class="text-box3">Code</div>
                <%= f.text_field :postal_code , "maxlength"=>"50", "min" => "1","max" => "50", :class => "field3" %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
                <div class="text-box3">Country *</div>
                <%=country_select("user", "country",{ "Kenya" => "Kenya"},{},:class => "field3 select_box_custom" )%>
            </div>
            <div class="login-field-box3 row-right">
                <div class="text-box3">I Live In *</div>
                <%= select_tag("user[lives_in]", grouped_options_for_select(@city_group, selected_key = @user.lives_in, prompt = nil), :id=> 'user_i_live' ,:onchange => 'CheckOther();',:prompt => "Select Location",:class => "field3 select_box_custom") %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
              <div class="text-box3">Security Question *</div>
              <%= f.select :secret_question, [ ["What is your favourite colour?", "What is your favourite colour?"],["What is your mother's maiden name?" , "What is your mother's maiden name?"], ["What is the name of the Hospital you were born in?", "What is the name of the Hospital you were born in?"] ], {:prompt => "Select Question"},:class=>"field1 select_box_custom" %>
            </div> 
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="login-field-box3 row-left">
              <div class="text-box3">Answer *</div>
              <%= f.text_field :answer, required: true, "maxlength"=>"50", "min" => "1","max" => "50",:class => "field3" %>
            </div>  
        </div>
        <div class="clear"></div>
        <div class="row-profile">
            <div class="check-one">
                <%=f.check_box :accept_t_and_c , id: "field_terms", required: true, value: true,:class=> "ch-box"%><%=link_to "I agree to the Terms and Conditions *", "/terms-of-use",:style => "color:#fbaf3d;font-family:andlso;font-size:13px;" ,:target => "new" %>
            </div>
            <div class="check-one">
               <span style = "font-weight: lighter;color:#696969;font-family:andlso;font-size:15px;">Are you human? Please enter the values as shown in the box below.</span>
            </div>
            <%= recaptcha_tags %><br/>
        </div>
        <div class="clear"></div>
        <input type="submit" class="btn2 left-align" value="Save" id="save">
        <div class="clear"></div>
    </div> 
    <div class="form-box6">
        <div class="up-photo">
        <div class="up-photo">
          <div class="image btn-file" id="avatar_image"> Upload<br>
            Photo <%=f.file_field :avatar,:id=>'user_avatar' ,:onchange=>"readImage( this )"%>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= javascript_include_tag "registrations.js" %>
