<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>

        <div class="max-box">
        
     
        	<div class="form-box4">
            	<div class="login-field-box3">
                	<div class="text-box3">First Name*</div>
                    <p class="auto-field3"><%= @user.first_name %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Preferred Alias*</div>
                    <p class="auto-field3"><%= @user.preferred_alias %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Email*</div>
                    <p class="auto-field3"><%= @user.email %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Password*</div>
                    <!--<select class="select1">
                    	<option>Select 1</option>
                        <option>Select 1</option>
                        <option>Select 1</option>
                    </select>-->
                    <input type="password" class="auto-field3" name="">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Gender*</div>
                    <p class="auto-field3"><%= @user.gender %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Age*</div>
                    <p class="auto-field3"><%= @user.age %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Address Line1</div>
                    <p class="auto-field3"><%= @user.address_line1 %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Town</div>
                    <p class="auto-field3"><%= @user.town %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Country*</div>
                    <p class="auto-field3"><%= @user.country %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Security Question*</div>
                    <p class="auto-field3"><%= @user.secret_question %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Answer*</div>
                    <p class="auto-field3"><%= @user.answer %></p>
                </div>
                <div class="clear"></div>
                
            </div>
            
            <div class="form-box4">
            	<div class="login-field-box3">
                	<div class="text-box3">Last Name*</div>
                    <p class="auto-field3"><%= @user.last_name %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">&nbsp;</div>
                    
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Confirm Email*</div>
                    <p class="auto-field3"><%= @user.email %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Confirm Password*</div>
                    <input type="password" class="auto-field3" name="">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">&nbsp;</div>
                    
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">DOB</div>
                    <p class="auto-field3"><%= @user.dob %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Address Line2</div>
                    <p class="auto-field3"><%= @user.address_line2 %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">Code</div>
                    <p class="auto-field3"><%= @user.postal_code %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">I Live*</div>
                    <p class="auto-field3"><%= @user.lives_in %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	<div class="text-box3">&nbsp;</div>
                    <p class="auto-field3"><%= @user.lives_in %></p>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box3">
                	
                </div>
                <div class="clear"></div>
                
            </div>
            
            <div class="form-box6">
            	<div class="up-photo"><img src="/assets/dummy-photo.jpg" alt=""></div>
                
            	<div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>

<!--         		<div class="image"><%#=image_tag @user.avatar.url, :style =>"height:150px;width:120px;margin:-50px;" if @user.avatar.present? %>
 -->	