<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>

<%= form_for(@user) do |f|%>
		<span class="span6">
			<div class="registerSectionForm">
				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">First Name: *</div>
				    <div>
						<%= f.text_field :first_name, disabled: true %>
				    </div>
				  </div>
				  <div class="form_lft">
				    <div class="name_lft">Last Name: *</div>
				    <div>
				      <%= f.text_field :last_name, disabled: true%>
				    </div>
				  </div>
				</div>
				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">Preferred Alias: *</div>
				    <div>
				      <%= f.text_field :preferred_alias, disabled: true%>
				    </div>
				  </div>
				</div>
				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">Gender: *</div>
				    <div>
							<%= f.select :gender, [["Male", 1], ["Female", 2]], disabled: true %>
						</div>
				  </div>
				  <div class="form_lft">
				    <div class="name_lft"> Age: *</div>
				    <div>
							<%= f.text_field :age ,:disabled=>true%>
				    </div>
				  </div>
				</div>
				<div class="fom_con">
				  <div class="dob">
				    <div class="name_lft">DOB:*</div>
				    <div>
				      <%= f.date_select :dob, :start_year =>  (Time.now.year - 100),:end_year=>(Time.now.year - 18), order: [:month,:day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year'}, disabled: true%>
				    </div>
				  </div>
				</div>
				<div class="fom_con">
				  <div class="form_lft"> &nbsp; </div>
				  <div class="form_lft">
				    <div class="name_lft"> Email: *</div>
				    <div>
				      <%= f.email_field :email, disabled: true%>
				    </div>
				  </div>
				</div>
				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">Address Line 1:</div>
				    <div>
				      <%= f.text_field :address_line1, disabled: true %>
				    </div>
				  </div>
				  <div class="form_lft">
				    <div class="name_lft">Secret Question: *</div>
				    <div>
							<select name="user[secret_question]" disabled="true">
									<option value="What was your childhood nickname?">What was your childhood nickname?</option>
									<option value="what city did you meet your spouse/significant other?">what city did you meet your spouse/significant other?</option>
									<option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood friend?</option>
									<option value="What street did you live on in third grade?">What street did you live on in third grade?</option>
									<option value="What is your oldest sibling’s birthday month and year? (e.g., January 1900)">What is your oldest sibling’s birthday month and year? (e.g., January 1900)</option>
									<option value="What is the middle name of your oldest child?">What is the middle name of your oldest child?</option>
									<option value="What is your oldest sibling's middle name?">What is your oldest sibling's middle name?</option>
									<option value="What school did you attend for sixth grade?">What school did you attend for sixth grade?</option>
									<option value="What was your childhood phone number including area code? (e.g., 000-000-0000)">What was your childhood phone number including area code? (e.g., 000-000-0000)</option>
									<option value="What is your oldest cousin's first and last name?">What is your oldest cousin's first and last name?</option>
									<option value="What was the name of your first stuffed animal?">What was the name of your first stuffed animal?</option>
									<option value="In what city or town did your mother and father meet?">In what city or town did your mother and father meet?</option>
									<option value="Where were you when you had your first kiss?">Where were you when you had your first kiss?</option>
									<option value="What is the first name of the boy or girl that you first kissed?">What is the first name of the boy or girl that you first kissed?</option>
									<option value="What was the last name of your third grade teacher?">What was the last name of your third grade teacher?</option>
									<option value="In what city does your nearest sibling live?">In what city does your nearest sibling live?</option>
									<option value="What is your oldest brother’s birthday month and year? (e.g., January 1900)">What is your oldest brother’s birthday month and year? (e.g., January 1900)</option>
									<option value="What is your maternal grandmother's maiden name?">What is your maternal grandmother's maiden name?</option>
									<option value="In what city or town was your first job?">In what city or town was your first job?</option>
									<option value="What is the name of the place your wedding reception was held?">What is the name of the place your wedding reception was held?</option>
									<option value="What is the name of a college you applied to but didn't attend?">What is the name of a college you applied to but didn't attend?</option>
									<option value="Where were you when you first heard about 9/11?">Where were you when you first heard about 9/11?</option>
								</select>
				    </div>
				  </div>
				</div>

				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">Address Line 2:</div>
				    <div>
				      <%= f.text_field :address_line2, disabled: true %>
				    </div>
				  </div>
				  <div class="form_lft">
				    <div class="name_lft"> Answer: *</div>
				    <div>
				      <%= f.text_field :answer, disabled: true%>
				    </div>
				  </div>
				</div>


				<div class="fom_con">
						<div class="form_lft">
						  <div class="name_lft">Town:</div>
						  <div>
			          <%= f.text_field :town, disabled: true%>
						  </div>
						</div>
				</div>

				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">Code:</div>
				    <div>
				      <%= f.text_field :postal_code , disabled: true%>
				    </div>
				  </div>
				</div>

				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">Country: *</div>
				    <div>
					    <%=country_select("user", "country",{ "Kenya" => "Kenya"}, disabled: true)%>
				    </div>
				  </div>
				</div>
				<div class="fom_con">
				  <div class="form_lft">
				    <div class="name_lft">I Live: *</div>
				    <div>
							<select name="user[lives_in]" id="user_i_live">
							<option selected="">Select</option>
							<optgroup label="Nairobi">
								<option>Arboretum</option>
								<option>Buruburu</option>
								<option>CBD</option>
								<option>Dagoretti</option>
								<option>Donholm</option>
								<option>Eastleigh</option>
								<option>Embakasi</option>
								<option>Garden Estate</option>
								<option>Gigiri</option>
								<option>Highridge</option>
								<option>Hurlingham</option>
								<option>Industrial Area</option>
								<option>Jamhuri</option>
								<option>JKIA</option>
								<option>Kahawa</option>
								<option>Karen</option>
								<option>Kasarani</option>
								<option>Kiambu Road</option>
								<option>Kileleshwa</option>
								<option>Kilimani</option>
								<option>Kitengela</option>
								<option>Komarock</option>
								<option>Langata</option>
								<option>Lavington</option>
								<option>Loresho</option>
								<option>Lower Kabete</option>
								<option>Madaraka</option>
								<option>Milimani</option>
								<option>Mombasa Road</option>
								<option>Museum Hill</option>
								<option>Muthiaga</option>
								<option>Nairobi West</option>
								<option>New Mathaiga</option>
								<option>Ngara</option>
								<option>Ngong Road</option>
								<option>Ngumo</option>
								<option>Parklands</option>
								<option>Ridgeways</option>
								<option>Riruta Satelite</option>
								<option>Riverside</option>
								<option>Rongal</option>
								<option>Rosslyn</option>
								<option>Roysambu</option>
								<option>Ruaka</option>
								<option>Runda</option>
								<option>South B</option>
								<option>South C</option>
								<option>Spring Valley</option>
								<option>State House Crescent</option>
								<option>Thigiri</option>
								<option>Thika Road</option>
								<option>Umoja</option>
								<option>Upper Hill</option>
								<option>Valley Road</option>
								<option>Westlands</option>
							</optgroup>

							<optgroup label="Coast">
								<option>Bamburi</option>
								<option>CBD</option>
								<option>Diani</option>
								<option>Kilifi</option>
								<option>Lamu</option>
								<option>Malindi</option>
								<option>Mombasa</option>
								<option>Nyali</option>
								<option>Voi</option>
								<option>Watamu</option>
							</optgroup>
							<optgroup label="Kisumu">
							</select>
				    </div>
				  </div>
				</div>
			</div>
			</span> <span class="span3">
			<div class="rgh">
				<div class="image"><%=image_tag @user.avatar.url(:thumb) if @user.avatar.present? %>
				</div>
			</div>
		</span>
<%end%>
