<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>

<span class="span6">
    <div class="sectionMid">
        <div class="sectionLeftBottom">
          <p>I want to make a</p>
					<ul>
						<li>
							<a href="<%=new_review_url(:review_type=>'compliment')%>">
								<%= image_tag "thumbsU.png", alt: "", height: "100", width: "100"%>
							</a>
						</li>
						<li class = 'txt_lf'>
							<a href="<%=new_review_url(:review_type=>'complaint')%>">
								<%= image_tag "thumbsD.png", alt: "", height: "85", width: "100"%>
							</a>
						</li>
					</ul>
        </div>
				<%= render :partial =>'reviews/reviews'%>
  </div>

</span>
<!---ad section -->
	<%= render :partial =>'ads_and_poll'%>
<!-- ad section -->
