<%= link_to "Download Data", admin_monitor_jagents_path(params.merge(format: "xls")),:class => "btn btn-primary"%><br/><br/>
<h2>My Reviews To Action</h2>
<table id="monitor2" cellpadding=10>
	<thead>
	<tr>
		<th>Sr. No.</th>
		<th>Review</th> 
		<th>Agent</th> 
		<th>Assignee</th>
		<th>Ticket Closed By Agent</th>
		<th>Modified Review By Assignee</th>
		<th>Modified Review By Assigned Agent</th>
		<th>Published By</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	<% @myreviews.each.with_index(1) do |review,index| %>
	<tr>
		<td><%= index %></td>
		<td><%= link_to review.ticket_number ,edit_admin_review_path(review.id) rescue nil%></td>
		<td><%= review.jagent.preferred_alias rescue nil%></td>
		<td><%= review.agent == current_user ? "You" : review.agent.try(:preferred_alias) %></td>
		<td><%= review.monitor_jagent.ticked_closed_by_jagent? ? "Yes" : "No" rescue nil%></td>
		<td><%= review.monitor_jagent.assignee_modified? ? "Yes" : "No" rescue nil%></td>
		<td><%= review.monitor_jagent.assign_modified? ? "Yes" : "No" rescue nil%></td>
		<td><%= review.ispublished? ? mon.review.last_published_agent.preferred_alias : "No" rescue nil%></td>
		<td><%= review.monitor_jagent.try(:status) %></td>
	</tr>
	<% end %>
</tbody>
</table>
<br/>
<h2>All Reviews</h2>
<table id="monitor" cellpadding=10>
	<thead>
	<tr>
		<th>Sr. No.</th>
		<th>Review</th> 
		<th>Assignee</th>
		<th>Ticket assigned to</th> 
		<th>Last Assignee</th>
		<th>Last Ticket assigned to</th> 
		<th>Ticket Closed By Agent</th>
		<th>Modified Review By Assignee</th>
		<th>Modified Review By Assigned Agent</th>
		<th>Published By</th>
		<th>Status</th>
		<th>Comment Status</th>
		<th>Conversion Voted</th>
		<th>Date</th>
		<th>Time</th>
	</tr>
	</thead>
	<tbody>
	<% @monitors.each.with_index(1) do |mon,index| %>
	<tr>
		<td><%= index %></td>
		<%if mon.review.user.confirmed_at.present?%>
		  <td><%= link_to mon.review.ticket_number ,edit_admin_review_path(mon.review.id) rescue nil%></td>
		<%else%>
		  <td><%= mon.review.ticket_number rescue nil%></td>
		<%end%>
		<td><%= mon.review.agent.try(:preferred_alias) %></td>
		<td><%= mon.review.jagent.try(:preferred_alias) %></td>
		<td><%= mon.review.old_agent.try(:preferred_alias) %></td>
		<td><%= mon.review.old_jagent.try(:preferred_alias) %></td>
		<td><%= mon.ticked_closed_by_jagent? ? "Yes" : "No" rescue nil%></td>
		<td><%= mon.assignee_modified? ? "Yes" : "No" rescue nil%></td>
		<td><%= mon.assign_modified? ? "Yes" : "No" rescue nil%></td>
		<td><%= mon.review.ispublished? ? mon.review.last_published_agent.preferred_alias : "No" rescue nil%></td>
		<td><%= mon.status %></td>
		<td><%= mon.comment_status %></td>
		<td><%= mon.review.change_date? ? "Yes" : "No" %></td>
		<td><%= mon.review.created_at.strftime("%d/%m/%Y") %></td>
		<td><%= mon.review.created_at.strftime("%H:%M") %></td>
	</tr>
	<% end %>
</tbody>
</table>
<br/>
