<table cellpadding=10>
	<tr>
		<th>Review</th> 
		<th>Junior Agent</th> 
		<th>Assignee</th>
		<th>Ticket Closed By Junior Agent</th>
		<th>Modified Review By Junior Agent</th>
		<th>Archive By Junior Agent</th>
	</tr>
	<% @monitors.each do |mon| %>
	<tr>
		<td><%= link_to mon.review.title ,admin_review_path(mon.review.id) rescue nil%></td>
		<td><%= mon.review.jagent.preferred_alias rescue nil%></td>
		<td><%= mon.review.agent == current_user ? "You" : mon.review.agent.preferred_alias %></td>
		<td><%= mon.ticked_closed_by_jagent? ? "Yes" : "No" rescue nil%></td>
		<td><%= mon.modified_review? ? "Yes" : "No" rescue nil%></td>
		<td><%= mon.archive? ? "Yes" : "No" rescue nil%></td>
	</tr>
	<% end %>
</table>