  <tr>
	            <td><%= i+1%></td>
				<td><%=review.created_at.strftime("%d/%m/%Y") rescue nil %></td>
				<td><%=review.created_at.strftime("%H:%M") rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.date.strftime("%d/%m/%Y") rescue nil %></td>
				<td><%= DateTime.parse(review.date_time).strftime("%H:%M") rescue nil %></td>
				<td><%=review.industry.title.titleize rescue nil %></td>
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.modified_review rescue nil %></td>
				<td><%=review.desired_outcome.nil? ? "N/A" : review.desired_outcome %></td>
				<td><%=review.user.first_name rescue nil %> <%=review.user.last_name rescue nil %></td>
				<td><%=review.account_details rescue nil %></td>
			    <td><%=review.file.blank? ? "No" : "Yes" %></td>
			    <td><%=review.try(:user).try(:last_sign_in_ip) rescue nil%></td>
			    <td>
			    	<% if review.comments.where("user_id is not null").count >= 1 %>
			    		Supplier
			    	<% elsif review.comments.where("name is not null").count >= 1%>
			    		Yes
			    	<% else %>
			    	   No
			    	<% end%>
			    </td>
			    <td><%=review.monitor_jagent.status rescue nil %></td>
			    <td><%=review.monitor_jagent.comment_status rescue nil  %></td>
			     <td>$
			    	<% review.review_notes.each do |r| %>
			    	<%= r.name  rescue nil %> <%= r.note rescue nil %>;
			    	<% end %>
			    $</td>
			    <td><%= review.customer_count %></td>
			    <td><%= review.supplier_count %></td>
	    </tr>