<table>
		<thead>
			<tr>
				<th>Supplier <%= @company.title rescue nil%>: Total Reviews</th>
			</tr>

		</thead>

		<tbody>
			<tr>
			<td>Compliments :
			<%= @compliments.count rescue nil%></td>
		
			<td>Complaint :
			<%= @complaints.count rescue nil%></td>
		
			<td><strong>Total</strong>
			<%= @total = @complaints.count + @compliments.count%></td>
		</tr>

		</tbody>
	</table>

    <br/>
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Supplier <%= @company.title rescue nil%> :Nature of Compliments</th>
			</tr>

		</thead>

		<tbody>
		    <% @nature_of_compliments = [] %>
				<% NatureOfReview.where("review_type = ?","compliment").pluck(:title).each do |r| %>
					<% @nature_of_compliments << [r,Review.where("company_id = ? and nature_of_review = ? and user_id is not null and nature_of_review is not null",@company.id, r).count] %>
				<% end %>
				<% n = @nature_of_compliments %>
				<% n = Hash[*n.flatten] %>
				<% n.each do |r| %>
				<tr>
					<td><%= r[0] %></td>
					<td><%= r[1] %></td>
				</tr>
			<% end %>
			
		</tbody>
	</table>
    <br/>
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Supplier <%= @company.title rescue nil%> :Nature of Complaints</th>
			</tr>

		</thead>

		<tbody>
			<% @nature_of_complaints = [] %>
				<% NatureOfReview.where("review_type = ?","complaint").pluck(:title).each do |r| %>
					<% @nature_of_complaints << [r,Review.where("company_id = ? and nature_of_review = ? and user_id is not null and nature_of_review is not null",@company.id, r).count] %>
				<% end %>
				<% n = @nature_of_complaints %>
				<% n = Hash[*n.flatten] %>
				<% n.each do |r| %>
				<tr>
					<td><%= r[0] %></td>
					<td><%= r[1] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>