<table>
	<thead>
		<tr>
			<th>Industry <%= industry.title rescue nil%>: Total Reviews</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Compliments :
			<%= @compliments.count rescue nil%></td>
		
			<td>Complaint :
			<%= @complaints.count rescue nil%></td>
		
			<td><strong>Total</strong>
			<%= @total = @complaints.count + @compliments.count%></td>
		</tr>

	</tbody>
</table>

<br/>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Industry <%= industry.title rescue nil%> : Nature of Compliment</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Billing/accounts</td>
			<% @billing = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Billing/accounts', 'compliment') rescue nil%>
			<td><%= @billing.count rescue nil%></td>
		</tr>
		<tr>
			<td>Booking</td>
			<% @booking = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Booking', 'compliment') rescue nil%>
		    <td><%= @booking.count rescue nil%></td>
		</tr>
		<tr>
			<td>Call centre efficiency</td>
			<% @call_center = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Call centre efficiency', 'compliment') rescue nil%>
			<td><%= @call_center.count rescue nil%></td>
		</tr>
		<tr>
		
			<td>Contract</td>
			<%@contract = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Contract', 'compliment') rescue nil%>
			<td><%= @contract.count rescue nil%></td>
		</tr>
		<tr>
			<td>Delivery on time</td>
			<% @delivery = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Delivery on time', 'compliment') rescue nil%>
			<td><%= @delivery.count rescue nil%></td>
		</tr>
		<tr>
			<td>Feedback</td>
			<%@feedback =  Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Feedback', 'compliment') rescue nil%>
			<td><%= @feedback.count rescue nil%></td>
		</tr>
		<tr>
			<td>Going the extra mile</td>
			<% @going_extra = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Going the extra mile', 'compliment') rescue nil%>
			<td><%= @going_extra.count rescue nil%></td>
		</tr>
		<tr>
			<td>Great attitude</td>
			<% @great_attitude = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Great attitude', 'compliment') rescue nil%>
			<td><%= @great_attitude.count rescue nil%></td>
		</tr>
		<tr>
			<td>Pricing</td>
			<% @pricing = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Pricing', 'compliment') rescue nil%>
			<td><%= @pricing.count rescue nil%></td>
		</tr>
		<tr>
			<td>Refund</td>
			<% @refund = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Refund', 'compliment') rescue nil%>
			<td><%= @refund.count rescue nil%></td>
		</tr>
		<tr>
			<td>Repairs</td>
			<% @repairs = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Repairs', 'compliment') rescue nil%>
			<td><%= @repairs.count rescue nil%></td>
		</tr>
		<tr>
			<td>Stock</td>
			<% @stock = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Stock', 'compliment') rescue nil%>
			<td><%= @stock.count rescue nil%></td>
		</tr>
		<tr>
			<td>Other</td>
			<% @others = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Other', 'compliment') rescue nil%>
			<td><%= @others.count rescue nil%></td>
		</tr>

	</tbody>
</table>
<br/>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Industry <%= industry.title rescue nil%> : Nature of Complaints</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Bad attitude</td>
			<% @bad_attitude = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Bad attitude', 'complaint') rescue nil%>
			<td><%= @bad_attitude.count rescue nil%></td>
		</tr>
		<tr>
			<td>Billing/Accounts</td>
			<% @billing_account = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id , 'Billing/Accounts', 'complaint') rescue nil%>
		    <td><%= @billing_account.count rescue nil%></td>
		</tr>
		<tr>
			<td>Booking query</td>
			<% @booking_query = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Booking query', 'complaint') rescue nil%>
			<td><%= @booking_query.count rescue nil%></td>
		</tr>
		<tr>
		
			<td>Breach of contract</td>
			<%@breach_of_contract = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Breach of contract', 'complaint') rescue nil%>
			<td><%= @breach_of_contract.count rescue nil%></td>
		</tr>
		<tr>
			<td>Call centre</td>
			<% @call_centre_c = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Call centre', 'complaint') rescue nil%>
			<td><%= @call_centre_c.count rescue nil%></td>
		</tr>
		<tr>
			<td>Damaged goods</td>
			<%@damaged_goods =  Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Damaged goods', 'complaint') rescue nil%>
			<td><%= @damaged_goods.count rescue nil%></td>
		</tr>
		<tr>
			<td>Expiry date</td>
			<% @expiry = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Expiry date', 'complaint') rescue nil%>
			<td><%= @expiry.count rescue nil%></td>
		</tr>
		<tr>
			<td>Feedback/response</td>
			<% @feedback_response = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Feedback/response', 'complaint') rescue nil%>
			<td><%= @feedback_response.count rescue nil%></td>
		</tr>
		<tr>
			<td>Hygiene</td>
			<% @hygiene = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Hygiene', 'complaint') rescue nil%>
			<td><%= @hygiene.count rescue nil%></td>
		</tr>
		<tr>
			<td>Late/no delivery</td>
			<% @Late_no_delivery = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Late/no delivery', 'complaint') rescue nil%>
			<td><%= @Late_no_delivery.count rescue nil%></td>
		</tr>
		<tr>
			<td>Out of stock</td>
			<% @out_of_stock = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Out of stock', 'complaint') rescue nil%>
			<td><%= @out_of_stock.count rescue nil%></td>
		</tr>
		<tr>
			<td>Pricing/bar codes</td>
			<% @pricing_bar_codes = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Pricing/bar codes', 'complaint') rescue nil%>
			<td><%= @pricing_bar_codes.count rescue nil%></td>
		</tr>
		<tr>
			<td>Repairs/servicing</td>
			<% @repairs_servicing = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Repairs/servicing', 'complaint') rescue nil%>
			<td><%= @repairs_servicing.count rescue nil%></td>
		</tr>
		<tr>
			<td>Spam</td>
			<% @spam = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Spam', 'complaint') rescue nil%>
			<td><%= @spam.count rescue nil%></td>
		</tr>
		<tr>
			<td>Other</td>
			<% @others_c = Review.where('user_id is not null and industry_id = ? and nature_of_review = ? and review_type = ?',industry.id,'Other', 'complaint')%>
			<td><%= @others.count rescue nil%></td>
		</tr>

	</tbody>
</table>