<table>
	<tr>
		<td><%= link_to "Customer details", user_profile_admin_reports_path,:class => "btn btn-primary", :style=>"padding: 0 7px 1px;"%></td>
		<td><%= link_to "Industry Level Totals", industry_admin_reports_path,:class => "btn btn-primary",:style=>"padding: 0 7px 1px;"%></td>
		<td><%= link_to "Company/Supplier Level Totals", company_admin_reports_path,:class => "btn btn-primary",:style=>"padding: 0 7px 1px;"%></td>
		<td><%= link_to "Download Archive Data",archive_data_admin_reports_path,:class => "btn btn-primary",:style=>"padding: 0 7px 1px;"%></td>
		<td><%= link_to "Download Polls Data",polls_admin_reports_path,:class => "btn btn-primary",:style=>"padding: 0 7px 1px;"%></td>
		<td><%= link_to "Data Dump",data_dump_admin_reports_path,:class => "btn btn-primary",:style=>"padding: 0 7px 1px;"%></td>
		<td><%= link_to "Agents",agent_admin_reports_path,:class => "btn btn-primary",:style=>"padding: 0 7px 1px;"%></td>
	</tr>
</table>