<table>
	<tr>
		<th>Sr. No.</th>
		<th>Date</th>
		<th>Ticket Number</th>
		<th>Comment</th>
		<th>Customer Name</th>
		<th>Customer Email</th>
		<th>Company Name</th>
	</tr>
	<% @comments.each.with_index(1) do |comment,index| %>
	<tr>
		<td><%= index %></td>
		<td><%= comment.created_at.strftime("%d/%m/%Y") rescue nil%></td>
		<td><%= comment.review.ticket_number rescue nil%></td>
		<td><%= comment.title.html_safe rescue nil%></td>
		<td><%= comment.name rescue nil%></td>
		<td><%= comment.email rescue nil%></td>
		<td><%= comment.review.company.title rescue nil%></td>
	</tr>
	<% end %>
	
</table>