
<table id="admin_review_xls" >
	<thead>
	  <tr>
	        <th>Sr. No. </th>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			<th width="15%">Industry</th>
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @reviews.each_with_index.each.each do |review,i| %>
	    <tr>
	            <td><%= i+1 %></td>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				<td><%=review.industry.title.titleize rescue nil %></td>
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>