<h4>Company wise conversions from complaints to compliments</h4>
<%if params[:subaction] == "company_stat_record" %>
<strong>Displaying data for duration <%= @start_from rescue nil%> to <%= @start_to rescue nil%>
<%else%>
  <strong>Displaying data for 12 Months</strong>
<%end%>
<table id="admin_review_xls" >
  <thead>
    <tr>
      <th>Sr. No. </th>
      <th width="10%">Date</th>
      <th width="15%">Ticket Number</th>
      <th width="15%">Company</th>
      <th width="15%">Nature of Review</th>
      <th width="15%">Title</th>
      <th width="15%">Customer Name</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <% @compliment = Review.where('Date(created_at) >= ? and Date(Date(created_at)) <= ? and company_id = ? and user_id is not null', @start_from, @start_to, company.id) rescue nil%>
     
    <% @compliments = @compliment.where('change_date is not null') rescue nil%> 
      <% @compliments.each_with_index.each do |compliment,i|%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= compliment.date_time  rescue nil%></td>
          <td><%= compliment.ticket_number  rescue nil%></td>
          <td><%= compliment.company.title.titleize  rescue nil%></td>
          <td><%= compliment.nature_of_review  rescue nil%></td>
          <td><%= compliment.title.titleize  rescue nil%></td>
          <td><%= compliment.try(:user).try(:full_name) rescue nil%></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>  
</table>