<h4>Company Conversion Review Data</h4>  
<table id="admin_review_xls" >
  <thead>
    <tr>
      <th width="10%">Date</th>
      <th width="15%">Ticket Number</th>
      <th width="15%">Company</th>
      <th width="15%">Nature of Review</th>
      <th width="15%">Title</th>
      <th width="15%">Customer Name</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <% @compliment = Review.where('company_id = ? and user_id is not null',company.id) %>
     
    <% @compliments = @compliment.where('change_date is not null') %> 
      <% @compliments.each do |compliment|%>
        <tr>
          <td><%= compliment.date_time  %></td>
          <td><%= compliment.ticket_number  %></td>
          <td><%= compliment.company.title.titleize  %></td>
          <td><%= compliment.nature_of_review  %></td>
          <td><%= compliment.title.titleize  %></td>
          <td><%= compliment.try(:user).try(:full_name)%></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>  
</table>