<h2>Suppliers that get most complaints/compliments</h2><br/>

<table id="total_compliment">
  <thead>
     
        <th>Most Compliments</th>
        <th>Total Count</th>
     
  </thead>
    
  <tbody>
     
      <tr>
        <td width="50%"><strong><%= Company.find(@value_compliments).title rescue nil%></strong></td>
        <td width="50%"><strong><%= @max_compliment%></strong></td>
      </tr>
   
  </tbody>
</table>
<br/><br/>
<table id="most_complaints">
  <thead>
      <tr>
        <th>Most Complaints</th>
        <th>Total</th>
      </tr>
  </thead>
    
  <tbody>

      <tr>
        <td width="50%"><strong><%= Company.find(@value_complaints).title rescue nil%></strong></td>
        <td width="50%"><strong><%= @max_complaint%></strong></td>
      </tr>
   
  </tbody>
</table>
<br/><br/>

<h2>Total number of reviews for each company/supplier</h2><br/>
<table id="company_supplier">
	<thead>
      <tr>
        <th>Company</th>
        <th>Link</th>
      </tr>
	</thead>
		
	<tbody>
	  <%@companies.each do |company|%>
      <tr>
      	<td><%= company.title %></td>
      	<td><%= link_to "View reviews", supplier_level_admin_reports_path(:company => company.id)%></td>
      </tr>
      <%end%>
	</tbody>
</table>
<br/><br/>

<h2>Supplier Profiles</h2>
<table id="supplierprofile">
  <thead>
      <tr>
        <th>Supplier</th>
        <th>Link</th>
      </tr>
  </thead>
    
  <tbody>
    <%@suppliers.each do |supplier|%>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= link_to "View Profile", supplier_profiles_admin_reports_path(:supplier => supplier.id)%></td>
      </tr>
      <%end%>
  </tbody>
</table>
<br/><br/>


<h1>Total number of Registered Companies</h1>

<table id="registered_supplier">
  <thead>
    <tr>
      <th width="10%">Supplier Company</th>
      <th width="10%">Industry</th>
      <th width="10%">Subscription</th>
      <th width="10%">Start Date</th>
      <th width="10%">End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_registered.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.industry %></td>
        <td><%= supplier.subscription %></td>
        <td><%= supplier.start_date%></td>
        <td><%= supplier.end_date%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>

<h1>Total number of Un-registered Companies</h1>
<table id="unregistered_supplier">
  <thead>
    <tr>
      <th width="10%">Supplier Company</th>
      <th width="10%">Industry</th>
      <th width="10%">Subscription</th>
      <th width="10%">Start Date</th>
      <th width="10%">End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_unregistered.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.industry %></td>
        <td><%= supplier.subscription %></td>
        <td><%= supplier.start_date%></td>
        <td><%= supplier.end_date%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Conversions – Industry conversion stats</h2>
<table id="admin_review_xls" >
  <thead>
    <tr>
      <th width="10%">Date</th>
      <th width="15%">Ticket Number</th>
      <th width="15%">Industry</th>
      <th width="15%">Nature of Review</th>
      <th width="15%">Title</th>
      <th width="15%">Customer Name</th>
    </tr>
  </thead>

  <tbody>
    <% @compliments.each do |review| %>
      <tr>
        <td><%=review.date_time rescue nil %></td>
        <td><%=review.ticket_number rescue nil %></td>
        <td><%=review.industry.title.titleize rescue nil %></td>
        <td><%=review.nature_of_review rescue nil %></td>
        <td><%=review.title.titleize rescue nil %></td>
        <td><%=review.try(:user).try(:full_name)%></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<br/><br/>
<h2>Conversions – Industry conversion stats (12 Months)</h2>
   
<table id="industry_conversion">
  <thead>
    <tr>
      <th>Company</th>
      <th>Total Complaints Count</th>
      <th>Complaint --> Compliment</th>
      <th>Conversion Percentage</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <% @compliment = Review.where('created_at >= ? and created_at <= ? and industry_id = ? and user_id is not null', 1.year.ago, Date.today, company.id)%>
    
    <% @complaint_conversion = @compliment.where('review_type = ?', 'complaint').count%>
      
    <% @compliments = @compliment.where('change_date is not null').count%> 
      <tr>
        <td><%=company.title rescue nil %></td>
        <td><%=@complaint_conversion + @compliments rescue nil %></td>
        <td><%=@compliments rescue nil %></td>
        <% @a = @complaint_conversion + @compliments %>
        <% @percentage =  @compliments / @a * 100 rescue nil%>
        <%unless @percentage.present?%>
          <td>0</td>
        <%else%>
          <td><%= @percentage rescue nil%>%</td>
        <%end%>
      </tr>
    <%end%>
  </tbody>  
</table>

<br/><br/>


