<br/>
<%if params[:subaction] == "company_total" %>
  <strong>Displaying data for duration <%= params[:report][:start_date]%> to <%= params[:report][:end_date]%>
<%elsif params[:id] == "data_dump"%>
    <strong>All Company Data</strong>
<%else%>
  <strong>Displaying data for 12 Months</strong>
<%end%>
<%@companies.each do |company|%>

    <% @company = Company.where('id = ?', company).first%>
      <%if params[:id] == "data_dump"%>
       <% @compliments = Review.where('user_id is not null and company_id = ? and review_type = ?',@company.id, 'compliment')%>
       <% @complaints = Review.where('user_id is not null and company_id = ? and review_type = ?',@company.id, 'complaint')%>
	 <%else%>
       <% @compliments = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and user_id is not null and company_id = ? and review_type = ?',@start_from,@start_to,@company.id, 'compliment')%>
       <% @complaints = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and user_id is not null and company_id = ? and review_type = ?',@start_from,@start_to,@company.id, 'complaint')%>
	 <%end%>
    
	
  <%if @compliments.present? or  @complaints.present? %>
	 <%if params[:id] == "data_dump"%>
       <%= render :partial=>"company_xls"%>
	 <%else%>
       <%= render :partial=>"company_xls1"%>
	 <%end%>

	    <br/><br/>

		<h4>Supplier <%= @company.title%> :Compliments</h4>
		<%= render :partial=>"common_compliment_reviews_type"%>

		<h4>Supplier <%= @company.title%> : Complaints</h4></br>
		<%= render :partial=>"common_complaint_reviews_type"%>
    <%end%>
<%end%>