<h4>All Customers (12 Months)</h4>
<% @users.each do |user| %>
    <% @user = User.find(user)%>
	<table id="customers">
		<thead>
		  <tr>
		    <th width="15%">First Name</th>
		    <th width="15%">Last Name</th>
		    <th width="30%">Email</th>
		    <th width="20%">Email Confirmation</th>
		    <th width="20%">Preferred Alias</th>
		    <th width="20%">Age</th>
		    <th width="20%">Gender</th>
		    <th width="20%">Address line 1</th>
		    <th width="20%">Address line 2</th>
		    <th width="20%">Town</th>
		    <th width="20%">country</th>
		    <th width="20%">Lives in</th>
		    <th width="20%">Code</th>
		  </tr>
		</thead>

		<tbody>
		  
		    <tr>
		      <td><%=@user.first_name%></td>
		      <td><%=@user.last_name%></td>
		      <td><%=@user.email%></td>
		      <td><%=@user.confirmed_at.present? ? 'Confirmed' : 'Pending'%></td>
		      <td><%=@user.preferred_alias%></td>
		      <td><%=@user.age%></td>
		      <td><% if @user.gender == '1' %>
				    <%="Male"%>
				    <%else%>
				    <%="Female"%>
				    <%end%>
			  </td>
		      <td><%=@user.address_line1%></td>
		      <td><%=@user.address_line2%></td>
		      <td><%=@user.town%></td>
		      <td><%=@user.country%></td>
		      <td><%=@user.lives_in%></td>
		      <td><%=@user.postal_code%></td>
		    </tr>
		 
		</tbody>
	</table>
	<%@user_compliment = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and review_type = ?  and user_id = ? ',1.year.ago, Date.today,'compliment',@user.id)%>

	<%@user_complaint = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and review_type = ?  and user_id = ? ',1.year.ago, Date.today,'complaint',@user.id) %>
    <br/>

    <%unless @user_compliment.blank?%>
    <h4>Compliments Review By <%=@user.first_name%> <%=@user.last_name%></h4>
	<table id="admin_review_xls" >
		<thead>
		  <tr>
				<th width="10%">Date</th>
				<th width="15%">Ticket Number</th>
				<th width="10%">Review</th>
				<th width="15%">Industry</th>
				<th width="15%">Company</th>
				<th width="15%">Town</th>
				<th width="15%">Location</th>
				<th width="15%">Personal Responsible</th>
				<th width="15%">Nature of Review</th>
				<th width="15%">Message</th>
				<th width="15%">Title</th>
		        <th width="15%">Customer Name</th>
		  </tr>
		</thead>

		<tbody>
		  <% @user_compliment.each do |review| %>
		    <tr>
					<td><%=review.date_time rescue nil %></td>
					<td><%=review.ticket_number rescue nil %></td>
					<td><%=review.review_type.titleize rescue nil %></td>
					<td><%=review.industry.title.titleize rescue nil %></td>
					<td><%=review.company.title.titleize rescue nil %></td>
					<td><%=review.town.title.titleize rescue nil %></td>
					<td><%=review.location.title.titleize rescue nil %></td>
					<td><%=review.personal_responsible rescue nil %></td>
					<td><%=review.nature_of_review rescue nil %></td>
					<td><%=review.message rescue nil %></td>
					<td><%=review.title.titleize rescue nil %></td>
				    <td><%=review.try(:user).try(:full_name)%></td>

		    </tr>
		  <% end %>
		</tbody>
    </table>
    <br/>
    <%end%>
    <br/>
    <%unless @user_complaint.blank?%>
    <h4>Complaints Review By <%=@user.first_name%> <%=@user.last_name%></h4>
    <table id="admin_review_xls" >
		<thead>
		  <tr>
				<th width="10%">Date</th>
				<th width="15%">Ticket Number</th>
				<th width="10%">Review</th>
				<th width="15%">Industry</th>
				<th width="15%">Company</th>
				<th width="15%">Town</th>
				<th width="15%">Location</th>
				<th width="15%">Personal Responsible</th>
				<th width="15%">Nature of Review</th>
				<th width="15%">Message</th>
				<th width="15%">Title</th>
		        <th width="15%">Customer Name</th>
		  </tr>
		</thead>

		<tbody>
		  <% @user_complaint.each do |review| %>
		    <tr>
					<td><%=review.date_time rescue nil %></td>
					<td><%=review.ticket_number rescue nil %></td>
					<td><%=review.review_type.titleize rescue nil %></td>
					<td><%=review.industry.title.titleize rescue nil %></td>
					<td><%=review.company.title.titleize rescue nil %></td>
					<td><%=review.town.title.titleize rescue nil %></td>
					<td><%=review.location.title.titleize rescue nil %></td>
					<td><%=review.personal_responsible rescue nil %></td>
					<td><%=review.nature_of_review rescue nil %></td>
					<td><%=review.message rescue nil %></td>
					<td><%=review.title.titleize rescue nil %></td>
				    <td><%=review.try(:user).try(:full_name)%></td>

		    </tr>
		  <% end %>
		</tbody>
    </table>
    <br/>
    <%end%>

<% end %>