<%= render 'tab' %>
<h2>Download Entire Data (Excel Format)</h2>

<%= link_to "Summary of all reviews made by the customer", customer_record_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Industry conversion stats", conversion_industry_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Supplier conversion stats", conversion_company_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Customer Details", all_customers_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Junior Agents", jagent_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Senior Agents", sagent_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Suppliers Profiles", suppliers_profiles_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Industry xls", industry_xls_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Company/Supplier xls", company_xls_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Total reviews", all_reviews_xls_admin_reports_path(params.merge(format: "xls")),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Total comments", all_comments_xls_admin_reports_path(params.merge(format: "xls")),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Most complaints/compliments",most_company_xls_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "List Of Registered Suppliers", registered_suppliers_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "List Of Unregistered Suppliers", unregistered_suppliers_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary"%><br/><br/>

<%= link_to "Download Poll Results", poll_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary" %>
<br/><br/>

<%= link_to "Download Company Conversion Review Data", company_conversion_admin_reports_path,:class => "btn btn-primary" %>
<br/><br/>

<%= link_to "Download Industry Conversion Review Data", industry_conversion_admin_reports_path,:class => "btn btn-primary" %>
<br/><br/>

<%= link_to "Download reviews processed by each agent", reviews_processed_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary" %>
<br/><br/>
<%= link_to "Download accuracy of agents output", agent_output_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary" %>
<br/><br/>
<%= link_to "Download Agents performance", agent_performance_admin_reports_path(:id => "data_dump"),:class => "btn btn-primary" %>
<br/><br/>


