<%= link_to "Customer details", user_profile_admin_reports_path%><br/>
<%= link_to "Industry Level Totals", industry_admin_reports_path%><br/>
<%= link_to "Company/Supplier Level Totals", company_admin_reports_path%><br/>

<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Summary of reviews Excel", customer_record_admin_reports_path%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Industry conversion stats", conversion_industry_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Supplier conversion stats", conversion_company_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Customer Details", all_customers_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Junior Agents", jagent_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Senior Agents", sagent_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Active Customers", active_customers_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Suppliers Profiles", suppliers_profiles_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Industry xls", industry_xls_admin_reports_path(params.merge(format: "xls")), :method=> :get%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Company/Supplier xls", company_xls_admin_reports_path%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Total reviews", total_xls_admin_reports_path%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Most complaints/compliments",most_company_xls_admin_reports_path%><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "List Of Registered Suppliers", registered_suppliers_admin_reports_path(params.merge(format: "xls")), :method=> :get %><br/>
<%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "List Of Unregistered Suppliers", unregistered_suppliers_admin_reports_path(params.merge(format: "xls")), :method=> :get %>
<br/>

<%= link_to "Archive Data",archive_data_admin_reports_path%><br/>
<br/><br/>


<table>
<%= form_for :report, :url=> admin_reports_path, :method => :get do |f| %>
  <h2>Filter Data</h2>
    <tr>
    <div class="review_form">
			<div class="name_lft">Industry: *</div>
			<div class="small-input2">
			  <%= f.collection_select :industry_id, Industry.order(:title) + [Industry.new(:id => Industry.last.id,:title => "Other")], :id,:title,{:include_blank=>"Select Industry"},:rel => "/admin/industry/companies_by_industry",  required: true, onchange: 'CheckOther();'%>
			  <input type="text" id="other_type" name="other_type"><br/>
			</div>

		</div>

		<div class="review_form">
			<div class="name_lft">Company: *</div>
			<div class="small-input2">
			    <%= f.collection_select :company_id, @companies, :id, :title,  {:include_blank=>"Select Company"}, :rel => "/admin/company/towns_by_company"%>
		    <input type="text" id="txt_report_company_id" name="txt_report_company_id"><br>

			</div>
		</div>

		<div class="review_form">
			<div class="name_lft">Town: *</div>
			<div class="small-input2">
			   <%= f.collection_select :town_id, @towns+ [Industry.new(:id => Town.last.id + 1,:title => "Other")], :id, :title, {:include_blank=>"Select Town"}, :rel => "/admin/town/locations_by_town_and_company"%>
			   <!-- <input type="text" id="txt_review_town_id" name="txt_review_town_id"><br> -->
			   	<input type="text" id="other_town" name="txt_report_town_id"><br>
			</div>

		</div>

		<div class="review_form">
			<div class="name_lft">Location: *</div>
			<div class="small-input2">
			   <%= f.collection_select :location_id, @locations ,:id ,:title, {:include_blank=>"Select Location"}%>
			   	<input type="text" id="txt_report_location_id" name="txt_report_location_id"><br>
			</div>
		</div>

   <tr>
     <td>Review Type</td>
   	 <td><%= f.select :review_type, (options_for_select([['Select Review Type', ''],['Compliment', 'compliment'], ['Complaint', 'complaint']],selected: :review_type))%></td>
   </tr>
   <tr><strong>Choose Nature Of Review according to Review Type</strong></tr>
   <tr>
   	 <td>Nature of Review (Compliment)</td>
   	 <td><%= f.select :nature_of_review_eq, NatureOfReview.where('review_type = ?', 'compliment').map{|s| [s.title, s.title]}, {:prompt => "Select Nature Of Review"}%></td>

     <td>Nature of Review (Complaint)</td>
   	 <td><%= f.select :nature_of_review_eq, NatureOfReview.where('review_type = ?', 'complaint').map{|s| [s.title, s.title]}, {:prompt => "Select Nature Of Review"}%></td>

   </tr>
   <td><%= button_tag  :submit ,name:"subaction",value: "update",:class => "btn btn btn-primary" %></td>
   
<%end%>
</table>
<br/><br/>

<%if params[:subaction] == "update"%>

<%unless @reviews.blank?%>
   <%= link_to "Download Filter Data", admin_reports_path(params.merge(format: "xls")), :method=> :get, :class=>"btn btn-secondary" %>
<%end%>
<h4>Reviews</h4>

<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			<th width="15%">Company</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @reviews.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>
	    </tr>
	  <% end %>
	</tbody>	
</table>
<%end%>



<h1>Totals – over a 12 month period</h1>
<table id="total_compliment">

	<thead>
		<tr>
			<th>Total Reviews</th>
			<th>Total Count</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Compliments</td>
			<td><%= @compliments%></td>
		</tr>
		<tr>
			<td>Complaint</td>
			<td><%= @complaints%></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= @complaints + @compliments%></td>
		</tr>

	</tbody>
</table>

<br/><br/>
<div>
<table id="compliments">
	<thead>
		<tr>
			<th>Nature of Compliment</th>
			<th>Total</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Billing/accounts</td>
			<td><%= @billing.count%></td>
		</tr>
		<tr>
			<td>Booking</td>
			<td><%= @booking.count%></td>
		</tr>
		<tr>
			<td>Call centre efficiency</td>
			<td><%= @call_center.count%></td>
		</tr>
		<tr>
			<td>Contract</td>
			<td><%= @contract.count%></td>
		</tr>
		<tr>
			<td>Delivery on time</td>
			<td><%= @delivery.count%></td>
		</tr>
		<tr>
			<td>Feedback</td>
			<td><%= @feedback.count%></td>
		</tr>
		<tr>
			<td>Going the extra mile</td>
			<td><%= @going_extra.count%></td>
		</tr>
		<tr>
			<td>Great attitude</td>
			<td><%= @great_attitude.count%></td>
		</tr>
		<tr>
			<td>Pricing</td>
			<td><%= @pricing.count%></td>
		</tr>
		<tr>
			<td>Refund</td>
			<td><%= @refund.count%></td>
		</tr>
		<tr>
			<td>Repairs</td>
			<td><%= @repairs.count%></td>
		</tr>
		<tr>
			<td>Stock</td>
			<td><%= @stock.count%></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= @others.count%></td>
		</tr>

	</tbody>
</table>
</div>
<br/><br/>
<div>
<table id="complaints">
	<thead>
		<tr>
			<th>Nature of Complaints</th>
			<th>Total</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Bad attitude</td>
			<td><%= @bad_attitude.count%></td>
		</tr>
		<tr>
			<td>Billing/Accounts</td>
			<td><%= @billing_account.count %></td>
		</tr>
		<tr>
			<td>Booking query</td>
			<td><%= @booking_query.count%></td>
		</tr>
		<tr>
			<td>Breach of contract</td>
			<td><%= @breach_of_contract.count%></td>
		</tr>
		<tr>
			<td>Call centre</td>
			<td><%= @call_centre_c.count%></td>
		</tr>
		<tr>
			<td>Damaged goods</td>
			<td><%= @damaged_goods.count%></td>
		</tr>
		<tr>
			<td>Expiry date</td>
			<td><%= @expiry.count%></td>
		</tr>
		<tr>
			<td>Feedback/response</td>
			<td><%= @feedback_response.count%></td>
		</tr>
		<tr>
			<td>Hygiene</td>
			<td><%= @hygiene.count%></td>
		</tr>
		<tr>
			<td>Late/no delivery</td>
			<td><%= @Late_no_delivery.count%></td>
		</tr>
		<tr>
			<td>Out of stock</td>
			<td><%= @out_of_stock.count%></td>
		</tr>
		<tr>
			<td>Pricing/bar codes</td>
			<td><%= @pricing_bar_codes.count%></td>
		</tr>
		<tr>
			<td>Repairs/servicing</td>
			<td><%= @repairs_servicing.count%></td>
		</tr>
		<tr>
			<td>Spam</td>
			<td><%= @spam.count%></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= @repairs_servicing.count%></td>
		</tr>

	</tbody>
</table>
</div>

 <% content_for :script do %>
  <%= javascript_include_tag "reports" %>

<script>
  $( document ).ready(function() {
	$("#other_type").hide();
	$("#nature").hide();
	$("#other_town").hide();
});


function CheckOther()
{
  if (document.getElementById("report_industry_id").value == <%= Industry.last.id %>){
        $("#other_type").show();
    }     
    else{
       $("#other_type").hide();
    }     
}



function CheckOther2()
{
  if (document.getElementById("report_nature_of_review").value == "Other"){
        $("#nature").show();
    }     
    else{
       $("#nature").hide();
    }     
}

function CheckOther_town()
{
  if (document.getElementById("report_town_id").value == <%= Town.last.id + 1 %>){
        $("#other_town").show();
    }     
    else{
       $("#other_town").hide();
    }     
}
</script>
<% end %>
