<h4>Industry Totals- 12 month period</h4>
<table id="industry_xls">
	<thead>
      <tr>
        <th>Industry</th>
        <th>Link</th>
      </tr>
	</thead>
		
	<tbody>
	  <%@industries.each do |industry|%>
      <tr>
      	<td><%= industry.title %></td>
      	<td><%= link_to "View Review", industry_level_admin_reports_path(:industry => industry.id)%></td>
      </tr>
      <%end%>
	</tbody>
</table>
<br/><br/>

<h2>Conversions – Industry conversion stats</h2>
<table id="admin_review_xls" >
  <thead>
    <tr>
      <th width="10%">Date</th>
      <th width="15%">Ticket Number</th>
      <th width="15%">Industry</th>
      <th width="15%">Nature of Review</th>
      <th width="15%">Title</th>
      <th width="15%">Customer Name</th>
    </tr>
  </thead>

  <tbody>
    <% @compliments.each do |review| %>
      <tr>
        <td><%=review.date_time rescue nil %></td>
        <td><%=review.ticket_number rescue nil %></td>
        <td><%=review.industry.title.titleize rescue nil %></td>
        <td><%=review.nature_of_review rescue nil %></td>
        <td><%=review.title.titleize rescue nil %></td>
        <td><%=review.try(:user).try(:full_name)%></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<br/><br/>
<h2>Conversions – Industry conversion stats (12 Months)</h2>
   
<table id="industry_conversion">
  <thead>
    <tr>
      <th>Industry</th>
      <th>Total Complaints Count</th>
      <th>Complaint --> Compliment</th>
      <th>Conversion Percentage</th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
    <% @compliment = Review.where('created_at >= ? and created_at <= ? and industry_id = ? and user_id is not null', 1.year.ago, Date.today, industry.id)%>
    
    <% @complaint_conversion = @compliment.where('review_type = ?', 'complaint').count%>
      
    <% @compliments = @compliment.where('change_date is not null').count%> 
      <tr>
        <td><%=industry.title rescue nil %></td>
        <td><%=@complaint_conversion + @compliments rescue nil %></td>
        <td><%=@compliments rescue nil %></td>
        <% @a = @complaint_conversion + @compliments %>
        <% @percentage =  @compliments / @a * 100 rescue nil%>
        <%unless @percentage.present?%>
          <td>0</td>
        <%else%>
          <td><%= @percentage rescue nil%>%</td>
        <%end%>
      </tr>
    <%end%>
  </tbody>  
</table>

<br/><br/>




