<br/>
<%if params[:subaction] == "industry_total" %>
  <strong>Displaying data for duration <%= params[:report][:start_date] rescue nil%> to <%= params[:report][:end_date] rescue nil%>
<%elsif params[:id] == "data_dump"%>
  Industry 
<%else%>
  <strong>Displaying data for 12 Months
<%end%>

<% @industries.each do |industry|%>
    <% @industry = Industry.where('id = ?', industry).first rescue nil%>
	<%if params[:id] == "data_dump"%>
	  <% @compliments = Review.where('user_id is not null and industry_id = ? and review_type = ?',@industry.id, 'compliment') rescue nil%>

	  <%  @complaints = Review.where('user_id is not null and industry_id = ? and review_type = ?',@industry.id, 'complaint') rescue nil%>
	<%else%>
	  <% @compliments = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and user_id is not null and industry_id = ? and review_type = ?',@start_from,@start_to,@industry.id, 'compliment') rescue nil%>

	  <%  @complaints = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and user_id is not null and industry_id = ? and review_type = ?',@start_from,@start_to,@industry.id, 'complaint') rescue nil%>
	<%end%>

	<%if @compliments.present? or  @complaints.present? %>

		<%if params[:id] == "data_dump"%>
	     
		  <%= render :partial=>'industry_xls1'%>
		<%else%>
		  <%= render :partial=>"industry_xls"%>
		<%end%>


	<br/><br/>

	<h4>Total : Nature of Complaint</h4></br>
	<%= render :partial=>"common_compliment_reviews_type"%>

	<h4>Industry <%= @industry.title%> : Complaints</h4></br>
	<%= render :partial=>"common_complaint_reviews_type"%>
	<%end%> 
<%end%>