<%= render 'tab' %>
<script>
  jQuery.noConflict();
  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#report_start_date').datepicker( 
    { altField  : '#report_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

    jQuery(function() {
  jQuery('#report_end_date').datepicker( 
    { altField  : '#report_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

});

  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#report1_start_date').datepicker( 
    { altField  : '#report_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

    jQuery(function() {
  jQuery('#report1_end_date').datepicker( 
    { altField  : '#report_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

});

  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#report3_start_date').datepicker( 
    { altField  : '#report_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

    jQuery(function() {
  jQuery('#report3_end_date').datepicker( 
    { altField  : '#report_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

});


</script>

<table>
      <%= form_for :report, :url=> industry_xls_admin_reports_path, :method => :get do |f| %>
        <h4>Filter Industry Data</h4>
        <tr>
          <td>Industry</td>
          <td><span >
            <%= f.collection_select :industry, @industries, :id,:title,:prompt => true %>
          </span></td>
          <td>From Date </td>
          <td><span >
            <%= f.text_field :start_date, :required => :true%>
          </span></td>
          <td>To Date </td>
          <td><span >
            <%= f.text_field :end_date,:required => :true %>
             </span>
          </td>
        </tr>
        <td><%= button_tag  :submit ,name:"subaction",value: "industry_total",:class => "btn btn btn-primary" %></td>    
      <%end%>
</table>

<h4>Industry Totals- 12 month period(From <%= (1.year.ago).strftime('%d-%m-%Y')%>  to  <%= (Date.today).strftime('%d-%m-%Y')%>)</h4>
<table id="industry_xls">
	<thead>
      <tr>
        <th>Industry</th>
        <th>Link</th>
      </tr>
	</thead>
		
	<tbody>
	  <%@industries.each do |industry|%>
      <tr>
      	<td><%= industry.title %></td>
      	<td><%= link_to "Download", industry_level_admin_reports_path(:industry => industry.id)%></td>
      </tr>
      <%end%>
	</tbody>
</table>
<br/><br/>

<h2>Conversions – Industry conversion stats</h2>
<table>
  <%= form_for :report3, :url=> industry_admin_reports_path, :method => :get do |f| %>
    <h4>Filter Industry conversion Records</h4>
    <tr>
      <td>From Date </td>
      <td><span >
        <%= f.text_field :start_date, :required => :true%>
      </span></td>
      <td>To Date </td>
      <td><span >
        <%= f.text_field :end_date,:required => :true %>
         </span>
      </td>
    </tr>
    <td><%= button_tag  :submit ,name:"subaction",value: "industry_stat_record",:class => "btn btn btn-primary" %></td>    
  <%end%>
</table>
<%if params[:subaction] == "industry_stat_record" %>
   <%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Download Industry Conversions", industry_admin_reports_path(params.merge(format: "xls")), :method=> :get %><br/>
<%else%>
  <%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + "Download Industry Conversions(12 months)", industry_admin_reports_path(params.merge(format: "xls")), :method=> :get %><br/>
<%end%>
<table id="admin_review_xls" >
  <thead>
    <tr>
      <th width="10%">Date</th>
      <th width="15%">Ticket Number</th>
      <th width="15%">Industry</th>
      <th width="15%">Nature of Review</th>
      <th width="15%">Title</th>
      <th width="15%">Customer Name</th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
    <% @compliment = Review.where('Date(created_at) >= ? and Date(Date(created_at)) <= ? and industry_id = ? and user_id is not null', @start_from, @start_to, industry.id) rescue nil%>
     
    <% @compliments = @compliment.where('change_date is not null') rescue nil%> 
      <% @compliments.each do |compliment|%>
        <tr>
          <td><%= compliment.created_at.strftime("%d/%m/%y | %H:%M")  rescue nil%></td>
          <td><%= compliment.ticket_number  rescue nil%></td>
          <td><%= compliment.industry.title.titleize  rescue nil%></td>
          <td><%= compliment.nature_of_review  rescue nil%></td>
          <td><%= compliment.title.titleize  rescue nil%></td>
          <td><%= compliment.try(:user).try(:full_name) rescue nil%></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>  
</table>
<br/><br/>
<h2>Conversions – Industry conversion stats (12 Months)(From <%= (1.year.ago).strftime('%d-%m-%Y')%>  to  <%= (Date.today).strftime('%d-%m-%Y')%>)</h2>
 <table>
      <%= form_for :report1, :url=> conversion_industry_admin_reports_path, :method => :get do |f| %>
        <h4>Filter Industry conversion Data</h4>
        <tr>
          <td>From Date </td>
          <td><span >
            <%= f.text_field :start_date, :required => :true%>
          </span></td>
          <td>To Date </td>
          <td><span >
            <%= f.text_field :end_date,:required => :true %>
             </span>
          </td>
        </tr>
        <td><%= button_tag  :submit ,name:"subaction",value: "conversion_industry",:class => "btn btn btn-primary" %></td>    
      <%end%>
</table>
<table id="industry_conversion">
  <thead>
    <tr>
      <th>Industry</th>
      <th>Total Complaints Count</th>
      <th>Complaint --> Compliment</th>
      <th>Conversion Percentage</th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
    <% @compliment = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and industry_id = ? and user_id is not null', 1.year.ago, Date.today, industry.id) rescue nil%>
    
    <% @complaint_conversion = @compliment.where('review_type = ?', 'complaint').count rescue nil%>
      
    <% @compliments = @compliment.where('change_date is not null').count rescue nil%> 
      <tr>
        <td><%=industry.title rescue nil %></td>
        <td><%=@complaint_conversion + @compliments rescue nil %></td>
        <td><%=@compliments rescue nil %></td>
        <% @a = @complaint_conversion + @compliments %>
        <% @percentage =  ((@compliments.to_f / @a) * 100).round(2) %>
        <% if !@percentage.present? || @percentage.nan? %>
          <td>0</td>
        <%else%>
          <td><%= @percentage rescue nil%>%</td>
        <%end%>
      </tr>
    <%end%>
  </tbody>  
</table>

<br/><br/>




