<br/>
<%if params[:subaction] == "industry_total" %>
  <strong>Displaying data for duration <%= params[:report][:start_date]%> to <%= params[:report][:end_date]%>
<%elsif params[:id] == "data_dump"%>
  Industry 
<%else%>
  <strong>Displaying data for 12 Months
<%end%>

<% @industries.each do |industry|%>
<% @industry = Industry.where('id = ?', industry).first%>
<%if params[:id] == "data_dump"%>
  <% @compliments = Review.where('user_id is not null and industry_id = ? and review_type = ?',@industry.id, 'compliment')%>

  <%  @complaints = Review.where('user_id is not null and industry_id = ? and review_type = ?',@industry.id, 'complaint')%>
<%else%>
  <% @compliments = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and user_id is not null and industry_id = ? and review_type = ?',@start_from,@start_to,@industry.id, 'compliment')%>

  <%  @complaints = Review.where('Date(created_at) >= ? and Date(created_at) <= ? and user_id is not null and industry_id = ? and review_type = ?',@start_from,@start_to,@industry.id, 'complaint')%>
<%end%>

<%if @compliments.present? or  @complaints.present? %>

	<%if params[:id] == "data_dump"%>
     
	  <%= render :partial=>'industry_xls1'%>
	<%else%>
	  <%= render :partial=>"industry_xls"%>
	<%end%>


<br/><br/>

<h4>Total : Nature of Complaint</h4></br>
<%if @billing.present?%>
<h4>Billing/accounts</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Person Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @billing.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @booking.present?%>
<h4>Booking</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @booking.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @call_center.present?%>
<h4>Call centre efficiency</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @call_center.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @contract.present?%>
<h4>Contract</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @contract.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @delivery.present?%>
<h4>Delivery on time</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @delivery.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @feedback.present?%>
<h4>Feedback</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @feedback.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @going_extra.present?%>
<h4>Going the extra mile</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @going_extra.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @great_attitude.present?%>
<h4>Great attitude</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @great_attitude.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @pricing.present?%>
<h4>Pricing</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @pricing.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @refund.present?%>
<h4>Refund</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @refund.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @repairs.present?%>
<h4>Repairs</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @repairs.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @stock.present?%>
<h4>Stock</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @stock.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @others.present?%>
<h4>Other</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @others.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<%end%>
<br/>


<h4>Industry <%= @industry.title%> : Complaints</h4></br>
<%if @bad_attitude.present?%>
<h4>Bad attitude</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @bad_attitude.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<%end%>
<br/><br/>
<%if @billing_account.present?%>
<h4>Billing/Accounts</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @billing_account.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @booking_query.present?%>
<h4>Booking query</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @booking_query.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @breach_of_contract.present?%>
<h4>Breach of contract</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @breach_of_contract.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @call_centre_c.present?%>
<h4>Call centre</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @call_centre_c.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @damaged_goods.present?%>
<h4>Damaged goods</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @damaged_goods.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @expiry.present?%>
<h4>Expiry date</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @expiry.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @feedback_response.present?%>
<h4>Feedback/response</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @feedback_response.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @hygiene.present?%>
<h4>Hygiene</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @hygiene.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @Late_no_delivery.present?%>
<h4>Late/no delivery</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @Late_no_delivery.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @out_of_stock.present?%>
<h4>Out of stock</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @out_of_stock.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @pricing_bar_codes.present?%>
<h4>Pricing/bar codes</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @pricing_bar_codes.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @repairs_servicing.present?%>
<h4>Repairs/servicing</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @repairs_servicing.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @spam.present?%>
<h4>Spam</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @spam.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
</table>
<br/><br/>
<%end%>
<%if @others_c.present?%>
<h4>Other</h4>
<table id="admin_review_xls" >
	<thead>
	  <tr>
			<th width="10%">Date</th>
			<th width="15%">Ticket Number</th>
			<th width="10%">Review</th>
			
			<th width="15%">Company</th>
			<th width="15%">Town</th>
			<th width="15%">Location</th>
			<th width="15%">Personal Responsible</th>
			<th width="15%">Nature of Review</th>
			<th width="15%">Message</th>
			<th width="15%">Title</th>
	        <th width="15%">Customer Name</th>
	  </tr>
	</thead>

	<tbody>
	  <% @others_c.each do |review| %>
	    <tr>
				<td><%=review.date_time rescue nil %></td>
				<td><%=review.ticket_number rescue nil %></td>
				<td><%=review.review_type.titleize rescue nil %></td>
				
				<td><%=review.company.title.titleize rescue nil %></td>
				<td><%=review.town.title.titleize rescue nil %></td>
				<td><%=review.location.title.titleize rescue nil %></td>
				<td><%=review.personal_responsible rescue nil %></td>
				<td><%=review.nature_of_review rescue nil %></td>
				<td><%=review.message rescue nil %></td>
				<td><%=review.title.titleize rescue nil %></td>
			    <td><%=review.try(:user).try(:full_name)%></td>

	    </tr>
	  <% end %>
	</tbody>	
  </table>
  <%end%>
<%end%> 
<%end%>