<h4>All Junior Agents</h4>
	<table id="customers">
		<thead>
		  <tr>
		    <th>Sr. No. </th>
		    <th width="15%">First Name</th>
		    <th width="15%">Last Name</th>
		    <th width="30%">Email</th>
		    <th width="20%">Email Confirmation</th>
		    <th width="20%">Preferred Alias</th>
		    <th width="20%">Role</th>
		    <th width="20%">Date Created</th>
		  </tr>
		</thead>

		<tbody>
		  <% @jagents.each_with_index.each do |user,i| %>
		    <tr>
		      <td><%= i+1%></td>
		      <td><%=user.first_name rescue nil%></td>
		      <td><%=user.last_name rescue nil%></td>
		      <td><%=user.email rescue nil%></td>
		      <td><%=user.confirmed_at.present? ? 'Confirmed' : 'Pending'%></td>
		      <td><%=user.preferred_alias rescue nil%></td>
		    
		      <td><% if user.role == "jagent" %> JR Agent <%end%></td>
		       <td><%=user.created_at.strftime("%d/%m/%Y") %></td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
<br/><br/>