<p id="notice"><%= notice %></p>
<p>
  <strong>Supplier Company:</strong>
    <%= @supplier.supplier_name rescue nil%>
</p>
<p>
  <strong>Supplier Pin Number:</strong>
    <%= @supplier.supplier_vat_Number rescue nil%>
</p>
<p>
  <strong>Industry:</strong>
    <%= @supplier.industry rescue nil%>
</p>
<p>
  <strong>Address line 1:</strong>
    <%= @supplier.address_line1 rescue nil%>
</p>
<p>
  <strong>Address line 2:</strong>
    <%= @supplier.address_line2 rescue nil%>
</p>
<p>
  <strong>Town:</strong>
    <%= @supplier.town rescue nil%>
</p>
<p>
  <strong>City:</strong>
    <%= @supplier.city rescue nil%>
</p>
<p>
  <strong>Country:</strong>
    <%= @supplier.country rescue nil%>
</p>
<h3>Contact Person 1</h3>

<p>
  <strong>Authorised Responder:</strong>
    <%= @supplier.authorised_responder rescue nil%>
</p>
<p>
  <strong>Title:</strong>
    <%= @supplier.title rescue nil%>
</p>
<p>
  <strong>First Name:</strong>
    <%= @supplier.first_name rescue nil%>
</p>
<p>
  <strong>Last Name:</strong>
    <%= @supplier.last_name rescue nil%>
</p>
<p>
  <strong>Email:</strong>
    <%= @supplier.email rescue nil%>
</p>
<p>
  <strong>Telephone Number:</strong>
    <%= @supplier.telephone_number rescue nil%>
</p>
<p>
  <strong>Mobile Number:</strong>
    <%= @supplier.mobile_number rescue nil%>
</p>
<h3>Contact Person 2</h3>
<p>
  <strong>Authorised Responder:</strong>
    <%= @supplier.auth_resp2 rescue nil%>
</p>
<p>
  <strong>Title:</strong>
    <%= @supplier.title2 rescue nil%>
</p>
<p>
  <strong>First Name:</strong>
    <%= @supplier.fname2 rescue nil%>
</p>
<p>
  <strong>Last Name:</strong>
    <%= @supplier.lname2 rescue nil%>
</p>
<p>
  <strong>Email:</strong>
    <%= @supplier.email2 rescue nil%>
</p>
<p>
  <strong>Telephone Number:</strong>
    <%= @supplier.tno2 rescue nil%>
</p>
<p>
  <strong>Mobile Number:</strong>
    <%= @supplier.mno2 rescue nil%>
</p>
  <h3>Contact Person 3</h3>
<p>
  <strong>Authorised Responder:</strong>
    <%= @supplier.auth_resp3 rescue nil%>
</p>
<p>
  <strong>Title:</strong>
    <%= @supplier.title3 rescue nil%>
</p>
<p>
  <strong>First Name:</strong>
    <%= @supplier.fname3 rescue nil%>
</p>
<p>
  <strong>Last Name:</strong>
    <%= @supplier.lname3 rescue nil%>
</p>
<p>
  <strong>Email:</strong>
    <%= @supplier.email3 rescue nil%>
</p>
<p>
  <strong>Telephone Number:</strong>
    <%= @supplier.tno3 rescue nil%>
</p>
<p>
  <strong>Mobile Number:</strong>
    <%= @supplier.mno3 rescue nil%>
</p>
<p>
  <strong>Subscription:</strong>
    <%= @supplier.subscription rescue nil%>
</p>
<p>
  <strong>Start Date:</strong>
    <%= @supplier.start_date rescue nil%>
</p>
<p>
  <strong>End Date:</strong>
    <%= @supplier.end_date rescue nil%>
</p>
<p>
  <strong>Notes:</strong>
    <%= @supplier.notes rescue nil%>
</p>
