<h2>Supplier Profiles</h2>
 <%if params[:subaction] == "supplier_profiles" %>
  <strong>Displaying data for duration <%= params[:report2][:start_date] rescue nil%> to <%= params[:report2][:end_date] rescue nil%>
<%elsif params[:id] == "data_dump"%>

<%else%>
  <strong>Displaying data for 12 Months
<%end%>
<table>
  <thead>
      <tr>
        <th>Sr. No. </th>
        <th>Supplier</th>
        <th>Supplier Pin Number</th>
        <th>Industry</th>
        <th>Address line 1</th>
        <th>Address line 2</th>
        <th>Town</th>
        <th>City</th>
        <th>Country</th>
        <th>Contact Person 1</th>
        <th>Authorised Responder</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Telephone Number</th>
        <th>Mobile Number</th>
        <th>Contact Person 2</th>
        <th>Authorised Responder</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Telephone Number</th>
        <th>Mobile Number</th>
        <th>Contact Person 3</th>
        <th>Authorised Responder</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Telephone Number</th>
        <th>Mobile Number</th>
        <th>Subscription</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Notes</th>
        <th>Supplier Comments Count</th>
      </tr>
  </thead>
    
  <tbody>
    <%@suppliers.each_with_index.each do |supplier,i|%>
      <tr>
        <td><%= i+1%></td>
        <td><%= supplier.supplier_name rescue nil%></td>
        <td><%= supplier.supplier_vat_Number rescue nil%></td>
        <td><%= supplier.industry rescue nil%></td>
        <td><%= supplier.address_line1 rescue nil%></td>
        <td><%= supplier.address_line2 rescue nil%></td>
        <td><%= supplier.town rescue nil%></td>
        <td><%= supplier.city rescue nil%></td>
        <td><%= supplier.country rescue nil%></td>
        <td></td>
        <td><%= supplier.authorised_responder rescue nil%></td>
        <td><%= supplier.title rescue nil%></td>
        <td><%= supplier.first_name rescue nil%></td>
        <td><%= supplier.last_name rescue nil%></td>
        <td><%= supplier.email rescue nil%></td>
        <td><%= supplier.telephone_number rescue nil%></td>
        <td><%= supplier.mobile_number rescue nil%></td>
        <td></td>
        <td><%= supplier.auth_resp2 rescue nil%></td>
        <td><%= supplier.title2 rescue nil%></td>
        <td><%= supplier.fname2 rescue nil%></td>
        <td><%= supplier.lname2 rescue nil%></td>
        <td><%= supplier.email2 rescue nil%></td>
        <td><%= supplier.tno2 rescue nil%></td>
        <td><%= supplier.mno2 rescue nil%></td>
        <td></td>
        <td><%= supplier.auth_resp3 rescue nil%></td>
        <td><%= supplier.title3 rescue nil%></td>
        <td><%= supplier.fname3 rescue nil%></td>
        <td><%= supplier.lname3 rescue nil%></td>
        <td><%= supplier.email3 rescue nil%></td>
        <td><%= supplier.tno3 rescue nil%></td>
        <td><%= supplier.mno3 rescue nil%></td>
        <td><%= supplier.subscription rescue nil%></td>
        <td><%= supplier.start_date rescue nil%></td>
        <td><%= supplier.end_date rescue nil%></td>
        <td><%= supplier.notes rescue nil%></td>
        <td><%= supplier.comments.count rescue nil %></td>
      </tr>
      <%end%>
  </tbody>
</table>
<br/><br/>
