<% @company = Company.where('id = ?', params[:company]).first%>
<table id="supplier_level">
	<thead>
		<tr>
			<th>Supplier <%= @company.title%>: Total Reviews</th>
			<th>Total</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Compliments</td>
			<td><%= @compliments%></td>
		</tr>
		<tr>
			<td>Complaint</td>
			<td><%= @complaints%></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= @complaints + @compliments%></td>
		</tr>

	</tbody>
</table>

<br/><br/>
<table id="supplier_level_compliment">
	<thead>
		<tr>
			<th>Supplier <%= @company.title%> :Nature of Compliment</th>
			<th>Total</th>>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Billing/accounts</td>
			<td><%= @billing%></td>
		</tr>
		<tr>
			<td>Booking</td>
			<td><%= @booking%></td>
		</tr>
		<tr>
			<td>Call centre efficiency</td>
			<td><%= @call_center%></td>
		</tr>
		<tr>
			<td>Contract</td>
			<td><%= @contract%></td>
		</tr>
		<tr>
			<td>Delivery on time</td>
			<td><%= @delivery%></td>
		</tr>
		<tr>
			<td>Feedback</td>
			<td><%= @feedback%></td>
		</tr>
		<tr>
			<td>Going the extra mile</td>
			<td><%= @going_extra%></td>
		</tr>
		<tr>
			<td>Great attitude</td>
			<td><%= @great_attitude%></td>
		</tr>
		<tr>
			<td>Pricing</td>
			<td><%= @pricing%></td>
		</tr>
		<tr>
			<td>Refund</td>
			<td><%= @refund%></td>
		</tr>
		<tr>
			<td>Repairs</td>
			<td><%= @repairs%></td>
		</tr>
		<tr>
			<td>Stock</td>
			<td><%= @stock%></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= @others%></td>
		</tr>

	</tbody>
</table>
<br/><br/>


<table id="supplier_level_complaint">
	<thead>
		<tr>
			<th>Supplier <%= @company.title%> :Nature of Complaints</th>
			<th>Total</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Bad attitude</td>
			<td><%= @bad_attitude%></td>
		</tr>
		<tr>
			<td>Billing/Accounts</td>
			<td><%= @billing_account %></td>
		</tr>
		<tr>
			<td>Booking query</td>
			<td><%= @booking_query%></td>
		</tr>
		<tr>
			<td>Breach of contract</td>
			<td><%= @breach_of_contract%></td>
		</tr>
		<tr>
			<td>Call centre</td>
			<td><%= @call_centre_c%></td>
		</tr>
		<tr>
			<td>Damaged goods</td>
			<td><%= @damaged_goods%></td>
		</tr>
		<tr>
			<td>Expiry date</td>
			<td><%= @expiry%></td>
		</tr>
		<tr>
			<td>Feedback/response</td>
			<td><%= @feedback_response%></td>
		</tr>
		<tr>
			<td>Hygiene</td>
			<td><%= @hygiene%></td>
		</tr>
		<tr>
			<td>Late/no delivery</td>
			<td><%= @Late_no_delivery%></td>
		</tr>
		<tr>
			<td>Out of stock</td>
			<td><%= @out_of_stock%></td>
		</tr>
		<tr>
			<td>Pricing/bar codes</td>
			<td><%= @pricing_bar_codes%></td>
		</tr>
		<tr>
			<td>Repairs/servicing</td>
			<td><%= @repairs_servicing%></td>
		</tr>
		<tr>
			<td>Spam</td>
			<td><%= @spam%></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= @others_c%></td>
		</tr>
	</tbody>
</table>
