<table>
	<thead>
		<tr>
			<th>Supplier (e.g. ABC Bank): Total Reviews</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Compliments</td>
			<td><%= @compliments%></td>
		</tr>
		<tr>
			<td>Complaint</td>
			<td><%= @complaints%></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= @complaints + @compliments%></td>
		</tr>

	</tbody>
</table>

<br/><br/>
<table>
	<thead>
		<tr>
			<th>Supplier Nature of Compliment</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Billing/accounts</td>
			<td><%= @billing%></td>
		</tr>
		<tr>
			<td>Booking</td>
			<td><%= @booking%></td>
		</tr>
		<tr>
			<td>Call centre efficiency</td>
			<td><%= @call_center%></td>
		</tr>
		<tr>
			<td>Contract</td>
			<td><%= @contract%></td>
		</tr>
		<tr>
			<td>Delivery on time</td>
			<td><%= @delivery%></td>
		</tr>
		<tr>
			<td>Feedback</td>
			<td><%= @feedback%></td>
		</tr>
		<tr>
			<td>Going the extra mile</td>
			<td><%= @going_extra%></td>
		</tr>
		<tr>
			<td>Great attitude</td>
			<td><%= @great_attitude%></td>
		</tr>
		<tr>
			<td>Pricing</td>
			<td><%= @pricing%></td>
		</tr>
		<tr>
			<td>Refund</td>
			<td><%= @refund%></td>
		</tr>
		<tr>
			<td>Repairs</td>
			<td><%= @repairs%></td>
		</tr>
		<tr>
			<td>Stock</td>
			<td><%= @stock%></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= @others%></td>
		</tr>

	</tbody>
</table>
<br/><br/>


<table>
	<thead>
		<tr>
			<th>Supplier Nature of Complaints</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>Billing/accounts</td>
			<td><%= @billing_c%></td>
		</tr>
		<tr>
			<td>Booking</td>
			<td><%= @booking_c%></td>
		</tr>
		<tr>
			<td>Call centre efficiency</td>
			<td><%= @call_center_c%></td>
		</tr>
		<tr>
			<td>Contract</td>
			<td><%= @contract_c%></td>
		</tr>
		<tr>
			<td>Delivery on time</td>
			<td><%= @delivery_c%></td>
		</tr>
		<tr>
			<td>Feedback</td>
			<td><%= @feedback_c%></td>
		</tr>
		<tr>
			<td>Going the extra mile</td>
			<td><%= @going_extra_c%></td>
		</tr>
		<tr>
			<td>Great attitude</td>
			<td><%= @great_attitude_c%></td>
		</tr>
		<tr>
			<td>Pricing</td>
			<td><%= @pricing_c%></td>
		</tr>
		<tr>
			<td>Refund</td>
			<td><%= @refund_c%></td>
		</tr>
		<tr>
			<td>Repairs</td>
			<td><%= @repairs_c%></td>
		</tr>
		<tr>
			<td>Stock</td>
			<td><%= @stock_c%></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= @others_c%></td>
		</tr>

	</tbody>
</table>
