<h1>Total number of Un-registered Companies</h1>
<table>
  <thead>
    <tr>
      <th width="10%">Supplier Company</th>
      <th width="10%">Industry</th>
      <th width="10%">Subscription</th>
      <th width="10%">Start Date</th>
      <th width="10%">End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_unregistered.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.industry %></td>
        <td><%= supplier.subscription %></td>
        <td><%= supplier.start_date.strftime("%d-%m-%Y")%></td>
        <td><%= supplier.end_date.strftime("%d-%m-%Y")%></td>
      </tr>
    <% end %>
  </tbody>
</table>