<%= render 'tab' %>
<script>
  jQuery.noConflict();
  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#report_start_date').datepicker( 
    { altField  : '#report_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

    jQuery(function() {
  jQuery('#report_end_date').datepicker( 
    { altField  : '#report_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

});

  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#report1_start_date').datepicker( 
    { altField  : '#report_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

    jQuery(function() {
  jQuery('#report1_end_date').datepicker( 
    { altField  : '#report_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

});

  jQuery(document).ready(function() {

  jQuery(function() {
  jQuery('#report2_start_date').datepicker( 
    { altField  : '#report_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

    jQuery(function() {
  jQuery('#report2_end_date').datepicker( 
    { altField  : '#report_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'dd-mm-yy',
      altFormat : 'dd-mm-yy' } );
    });

});

</script>
<style>
.button{
  color: #bbbbbb;
  width: 169px;
  height: 49px;
  /*add any other properties you want to style*/
}        
</style>
<script>
jQuery(document).ready(function(){
  jQuery("#empty_data").click(function(){
   alert("No data available to export.");
  });
});
</script>



<h4>Summary of all reviews made by the customer</h4> <br/>
        <table>
			<%= form_for :report2, :url=> customer_record_admin_reports_path, :method => :get do |f| %>
			  <h4>Filter Summary of all reviews made by the customer</h4>
			  <tr>
			  	<td>Customer</td>
			    <td><span >
			      <%= f.text_field :customer %>
			    </span></td>
			    <td>From Date </td>
			    <td><span >
			      <%= f.text_field :start_date, :required => :true%>
			    </span></td>
			    <td>To Date </td>
			    <td><span >
			      <%= f.text_field :end_date,:required => :true %>
			       </span>
			    </td>

			  </tr>
			  <tr>
			  	 <td>First Name</td>
			     <td><span >
			      <%= f.text_field :first_name %>
			       </span>
			     </td>
			     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>Last Name</td>
			     <td><span >
			      <%= f.text_field :last_name %>
			       </span>
			     </td>
			  </tr>
			  <td><%= button_tag  :submit ,name:"subaction",value: "customer_record",:class => "btn btn btn-primary" %></td>
			   
			<%end%>
		</table><br/>

<h4>Customers</h4> 
        <table>
			<%= form_for :report, :url=> user_profile_admin_reports_path, :method => :get do |f| %>
			  <h4>Filter Customers Data</h4>
			  <tr>
			    <td>From Date </td>
			    <td><span >
			      <%= f.text_field :start_date, :required => :true%>
			    </span></td>
			    <td>To Date </td>
			    <td><span >
			      <%= f.text_field :end_date,:required => :true %>
			       </span>
			    </td>
			  </tr>
			  <td><%= button_tag  :submit ,name:"subaction",value: "customer",:class => "btn btn btn-primary" %></td>
			   
			<%end%>
		</table>
    <%if params[:subaction] == "customer"%>
        <%unless @customers.blank?%>
		   <%= link_to "Download Filter Data", user_profile_admin_reports_path(params.merge(format: "xls")), :method=> :get, :class=>"btn btn-secondary" %>
		<%end%>
    <%end%>
	<table id="customers">
		<thead>
		  <tr>
		    <th width="15%">First Name</th>
		    <th width="15%">Last Name</th>
		    <th width="30%">Email</th>
		    <th width="20%">Email Confirmation</th>
		    <th width="20%">Action</th>
		  </tr>
		</thead>

		<tbody>
		  <% @customers.each do |user| %>
		    <tr>
		      <td><%=user.first_name rescue nil%></td>
		      <td><%=user.last_name rescue nil%></td>
		      <td><%=user.email rescue nil%></td>
		      <td><%=user.confirmed_at.present? ? 'Confirmed' : 'Pending' rescue nil%></td>
		      <td>
		        <%= link_to 'Show', admin_user_path(user), class: "btn btn-primary" if can? :show, User, :role => 'user' %>
  				</td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
<br/><br/>
<h4>Active customers (6 months)</h4><br/>
    <table>
		<%= form_for :report1, :url=> user_profile_admin_reports_path, :method => :get do |f| %>
		  <h4>Filter Customers Data</h4>
		  <tr>
		    <td>From Date </td>
		    <td><span >
		      <%= f.text_field :start_date, :required => :true%>
		    </span></td>
		    <td>To Date </td>
		    <td><span >
		      <%= f.text_field :end_date,:required => :true %>
		       </span>
		    </td>
		  </tr>
		  <td><%= button_tag  :submit ,name:"subaction",value: "active_customer",:class => "btn btn btn-primary" %></td>
		<%end%>
	</table>
    <%if params[:subaction] == "active_customer"%>
        <%if @users.present?%>
		   <%= link_to "Download Filter Data", user_profile_admin_reports_path(params.merge(format: "xls")), :method=> :get, :class=>"btn btn-secondary" %>
		<%else%>
		  <a href="#" class="btn btn-secondary" id="empty_data">Download Filter Data</a>
		<%end%>
    <%end%>
	<table id="active_customer">
		<thead>
		  <tr>
		    <th width="15%">First Name</th>
		    <th width="15%">Last Name</th>
		    <th width="30%">Email</th>
		    <th width="20%">Email Confirmation</th>
		  </tr>
		</thead>

		<tbody>
		  <% @users.each do |user| %>
		    <% @user = User.find(user) rescue nil%>
		    <tr>
		      <td><%=@user.first_name rescue nil%></td>
		      <td><%=@user.last_name rescue nil%></td>
		      <td><%=@user.email rescue nil%></td>
		      <td><%=@user.confirmed_at.present? ? 'Confirmed' : 'Pending' rescue nil%></td>
		    </tr>
		  <% end %>
		</tbody>
	</table>