<%= form_for(@user, :url=>admin_update_password_path , :method=>"PUT") do |f|%>
		<span class="span6">
			<div class="registerSectionForm">
				<% if @user.present? && @user.errors.any? %>
					<div class="fom_con" style="color:red;">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
						<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>
				<% end %>

				<div class="fom_con" style="color:red;">
				  <div class="form_lft">
				    <div class="name_lft"> Password: *</div>
				    <div>
				      <%= f.password_field :password, required: true ,:id=>"password1"%>
				    </div>
				  </div>
				  <div class="form_lft">
				    <div class="name_lft">Confirm Password: *</div>
				    <div>
				      <%= f.password_field :password_confirmation, required: true ,:id=>"password2", :oninput=>"check(this)"%>
				    </div>
				  </div>
        </div>
				<div class="rgh_in">
				  <input type="submit" value="Update Password" class="btn btn-primary">
				</div>
			</div>
		</span>
<%end%>
<script>
function check(input) {
  if (input.value != document.getElementById('password1').value) {
    input.setCustomValidity('Password should match confirm password.');
  } else {
  input.setCustomValidity('');
 }
}
</script>