<p>
  <strong>First Name:</strong>
    <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
    <%= @user.last_name %>
</p>
<p>
  <strong>Preferred Alias:</strong>
    <%= @user.preferred_alias %>
</p>
<p>
  <strong>Age:</strong>
    <%= @user.age %>
</p>
<p>
  <strong>Email:</strong>
    <%= @user.email %>
</p>
<p>
  <strong>Gender:</strong>
    <% if @user.gender == '1' %>
    <%="Male"%>
    <%else%>
    <%="Female"%>
    <%end%>
</p>

<p>
  <strong>Address line 1:</strong>
    <%= @user.address_line1 %>
</p>
<p>
  <strong>Address line 2:</strong>
    <%= @user.address_line2 %>
</p>
<p>
  <strong>Town:</strong>
    <%= @user.town %>
</p>
<p>
  <strong>country:</strong>
    <%= @user.country %>
</p>
<p>
  <strong>Lives in:</strong>
    <%= @user.lives_in %>
</p>
<p>
  <strong>Code:</strong>
    <%= @user.postal_code %>
</p>

<p>
  <strong>Sign In Count:</strong>
    <%= @user.sign_in_count %>
</p>
<p>
  <strong>Last Sign In Time:</strong>
    <%= @user.last_sign_in_at.strftime("%d/%m/%y | %H:%M") rescue nil %>
</p>
<p>
  <strong>Last Sign In IP:</strong>
    <%= @user.last_sign_in_ip %>
</p>
<p>
  <strong>Secret Question:</strong>
    <%= @user.secret_question %>
  </p>
<p>
    <strong>Secret Answer:</strong>
    <%= @user.answer %>
</p>
<p>
    <strong>Subscribed:</strong>
    <%= @user.is_subscribe.nil? ? "No" : "Yes" %>
</p>
<p>
    <strong>Profile Pic:</strong>
    <%= @user.avatar.blank? ? "No" : (image_tag @user.avatar.url(:thumb)) %>
</p>
<p>
    <strong>Date of registration:</strong>
    <%= @user.created_at.strftime("%d-%m-%y") %>
</p>

<%= link_to 'Back', admin_index_path %>
