<% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Supplier Name:</label>
    <%= f.collection_select :supplier_name ,Company.all, :title,:title, required: true%>
  </div>
  <div class="field">
    <label>Supplier Pin Number</label>
    <%= f.text_field :supplier_vat_Number ,required: true, "maxlength"=>"11", "min" => "1"%>
  </div>
  <div class="field">
    <%= f.label :industry %>
    <%= f.collection_select :industry, Industry.order(:title),:title,:title, {:include_blank=>"Select Industry"},  required: true%>
  </div>
  <div class="field">
    <%= f.label :address_line1 %>
    <%= f.text_area :address_line1 %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :address_line2 %>
    <%= f.text_area :address_line2 ,required: true%>
  </div>

  <div class="field">
    <%= f.label :town %>
    <%= f.collection_select :town, Town.order(:title),:title,:title, {:include_blank=>"Select Town"},  required: true%>
  </div>


  <div class="field">
    <%= f.label :location %>
    <%= f.collection_select :city, Location.order(:title),:title,:title, {:include_blank=>"Select Location"},  required: true%>
  </div>

 
  <div class="field">
    <%= f.label :country %>
		<%=f.country_select("country",{ "Kenya" => "Kenya"})%>
  </div>
  <h3>Contact Person 1</h3>
  <div class="field">
    <%= f.label :authorised_responder %>
    <%= f.select :authorised_responder, [ 'Billing', 'Main Manager', 'CS Authorised Responder'] %> 
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.select :title, [ ["Mr"], [" Ms"],["Mrs"] ],required: true%>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name ,required: true, :pattern => '[A-Za-z]+' %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name ,required: true, :pattern => '[A-Za-z]+' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %>
    <%= f.text_field :telephone_number ,required: true, :pattern => '[0-9]{10}'%>
  </div>
  <div class="field">
    <%= f.label :mobile_number %>
    <%= f.text_field :mobile_number ,required: true, :pattern => '[0-9]{10}'%>
  </div>
  <h3>Contact Person 2</h3>
    <div class="field">
    <%= f.label :auth_resp2 ,"Authorised Responder"%>
    <%= f.select :auth_resp2, [ 'Billing', 'Main Manager', 'CS Authorised Responder'] %>
  </div>
  <div class="field">
    <%= f.label :title2, "Title" %>
    <%= f.select :title2, [ ["Mr"], [" Ms"],["Mrs"] ] %>
  </div>
  <div class="field">
    <%= f.label :fname2, "First Name" %>
    <%= f.text_field :fname2 , :pattern => '[A-Za-z]+' %>
  </div>
  <div class="field">
    <%= f.label :lname2, "Last Name" %>
    <%= f.text_field :lname2 , :pattern => '[A-Za-z]+' %>
  </div>
  <div class="field">
    <%= f.label :email2, "Email" %>
    <%= f.email_field :email2 %>
  </div>
  <div class="field">
    <%= f.label :tno2, "Telephone Number" %>
    <%= f.text_field :tno2 , :pattern => '[0-9]{10,10}'%>
  </div>
  <div class="field">
    <%= f.label :mno2, "Mobile Number" %>
    <%= f.text_field :mno2 , :pattern => '[0-9]{10,10}'%>
  </div>
  <h3>Contact Person 3</h3>
    <div class="field">
    <%= f.label :auth_resp3, "" %>
    <%= f.select :auth_resp3, [ 'Billing', 'Main Manager', 'CS Authorised Responder'] %>
  </div>
  <div class="field">
    <%= f.label :title3, "" %>
    <%= f.select :title3, [ ["Mr"], [" Ms"],["Mrs"] ]%>
  </div>
  <div class="field">
    <%= f.label :fname3, "First Name" %>
    <%= f.text_field :fname3 , :pattern => '[A-Za-z]+' %>
  </div>
  <div class="field">
    <%= f.label :lname3, "Last Name" %>
    <%= f.text_field :lname3 , :pattern => '[A-Za-z]+' %>
  </div>
  <div class="field">
    <%= f.label :email3, "Email" %>
    <%= f.email_field :email3 %>
  </div>
  <div class="field">
    <%= f.label :tno3, "Telephone Number" %>
    <%= f.text_field :tno3, :pattern => '[0-9]{10,10}'%>
  </div>
  <div class="field">
    <%= f.label :mno3, "Mobile Number" %>
    <%= f.text_field :mno3 , :pattern => '[0-9]{10,10}'%>
  </div>
  <%if current_user.role == "admin"%>
		<div class="field">
		  <%= f.label :subscription %>
		  <%= f.select :subscription, [ 'Registered', 'Not Registered', 'Trial'] %>
		</div>
		<div class="field">
		  <%= f.label :start_date %>
		  <%= f.date_select :start_date ,required: true%>
		</div>
		<div class="field">
		  <%= f.label :end_date %>
		  <%= f.date_select :end_date ,required: true%>
		</div>
     <div class="field">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>
	<%end%>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>