
          <div class="section-one">
          <div class="reports">
              <div class="heading1">About us</div>
               <% @pages.each do |page| %>
                <a href="<%= page_url(page.slug) %>"><div class="<%= (@sub_action == page.slug ? 'reports2 act' : 'reports2') %>"><%= page.title.titlecase %></div></a>
                <% end %>
                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="polls">
               <%unless @performance.blank?%>
      <%unless @performance.performance_img.blank?%>
  
        <div class="sectionLeftBot">
       <%= link_to (image_tag @performance.performance_img),@performance.worst_performance  rescue nil%>
      </div>
      <%end%>
      <%unless @performance.best_performance.blank?%>
      <div class="sectionLeftBot">
       
       <%= image_tag @performance.best_performance rescue nil%>
      </div>
    <%end%>
    
  <%else%>
    <div class="sectionLeftBot">
    Some stats e.g worst performing companies and best performing or quotes (flash or updated every week)
  </div>
  <%end%>

             </div>
            <div class="clear"></div>
         </div>
        
          
            
      
            
           
            
            
            
            
   



