<span class="span3">
 <%unless @top_advertise.blank?%>
  <%if @top_advertise.text_msg.present? %>
    <div class="sectionRightAd" style="word-wrap: break-word; width: 300px;">
      <%= @top_advertise.text_msg.html_safe rescue nil%>
    </div>
  <%else%>
    <%=link_to (image_tag @top_advertise.image.url ,:class=>"sectionRightAd",:style=>"width: 300px;") , @top_advertise.link if @top_advertise%>
  <%end%>
 <%end%>
 <%unless @bottom_advertise.blank?%>
  <%if @bottom_advertise.text_msg.present?%>
    <div class="sectionRightAd" style="word-wrap: break-word; width: 300px;" >
      <%= @bottom_advertise.text_msg.html_safe rescue nil%>
    </div>
  <%else%>
   <%=link_to (image_tag @bottom_advertise.image.url ,:class=>"sectionRightAd", :style=>"width: 300px;"), @bottom_advertise.link  if @bottom_advertise%>
  <%end%>
 <%end%>
  <%if @poll.present?%>
  <div class="sectionRightPoll">
    <p>Poll</p>
		   <%= form_for(@result) do |f| %>
		    <span class="title"> <%= f.label @poll.title %></span>
				<ul>
	        <% @poll.options.each do |option| %>
			      <li>
				      <%= f.radio_button :option_id, option.id %>
				      <%= option.answer %>
				      <%= f.hidden_field :poll_id,value: option.poll_id%>
			      </li>
			    <% end %>
				</ul>
				<br/>
		    <%= f.submit "Vote" ,:class=>"butn"%>
		    <br/>
		   <% end %>
  </div>
	<% end %>
</span>