  <%if params["controller"] == "users" %>
  <div class="page-link">
          <ul>
              <li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="<%= profile_path %>">My Account</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#" class="selected"><%= params["action"] == "edit" ? "Update Profile" : "My Profile"%></a></li>
            </ul>
        </div>

<% elsif  params["my"] == "mr" %>
  <div class="page-link">
          <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="<%= profile_path %>">My Account</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="<%= reviews_path %>" class="selected"> My Reviews</a></li>
            </ul>
</div>
<% elsif  params["search"]  %>
  <div class="page-link">
          <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#" class="selected">Search Results</a></li>
            </ul>
</div>
<% elsif params["company_id"] %>
  <div class="page-link">
          <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <% unless params["action"] == "user_review" %>
                  <li><a href="<%= user_review_path %>">Reviews</a></li>
                  <li><span>&raquo;</span></li>
                <% end %>
                <li><a href="#" class="selected"><%= Company.find(params["company_id"]).title  %></a></li>
            </ul>
        </div>
<% elsif  @sub_action == "my_reviews" || @active_tab != "Home" %>
  <div class="page-link">
          <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <% unless params["action"] == "user_review" %>
                  <li><a href="<%= user_review_path %>">Reviews</a></li>
                  <li><span>&raquo;</span></li>
                <% end %>
                <li><a href="#" class="selected"><%= @active_tab.try(:titlecase)  %></a></li>
            </ul>
        </div>
<% end %>
  <div class="section-one">
          <div class="reports">
              
                <!--<ul>
                  <li class="current"><a href="#" class="current">Reviews</a></li>
                    <li><a href="#">Conversations</a></li>
                    <li><a href="#">Registered Companies</a></li>
                    <li><a href="#">Unregistered Companies</a></li>
                    <li><a href="#">Polls &amp; Bloppers</a></li>
                </ul>-->
                
                <%if user_signed_in? && params["controller"] == "users" || params["my"] %>
                <div class="heading1">My Account</div>
                 <a href="<%= profile_path %>">
                  <div class='<%=(@sub_action == "show_profile" ? "reports2 act" : "reports2")%>' >My Profile</div>
                </a>
               <a href="<%= edit_profile_path %>">
                <div class='<%=(@sub_action == "update_profile" ? "reports2 act" : "reports2")%>'>Update Profile</div>
              </a>
               <a href="<%= reviews_path %>?my=mr">
                <div class='<%=(@sub_action == "my_reviews" ? "reports2 act" : "reports2")%>'>My Reviews</div>
               </a>
               <a href="<%= root_path %>">
                <div class='<%=(@sub_action == "review" ? "reports2 act" : "reports2")%>'>Add a Review</div>
                </a>
                <% else %>
                <div class="heading1">View Reports</div>
                <a href="<%= user_review_path %>"><div class="<%=(@active_tab == "reviews" ? "reports2 act" : "reports2")%>">Reviews</div></a>
                <a href="<%= conversions_path %>"><div class="<%=(@active_tab == "conversions" ? "reports2 act" : "reports2")%>">Conversions</div></a>
                <a href="<%= registered_path %>"><div class="<%=(@active_tab == "registered_companies" ? "reports2 act" : "reports2")%>">Registered Companies</div></a>
                <a href="<%= unregistered_path %>"><div class="<%=(@active_tab == "unregistered_companies" ? "reports2 act" : "reports2")%>">Unregistered Companies</div></a>
                <a href="<%= polls_bloopers_path %>"><div class="<%=(@active_tab == "polls & bloopers" ? "reports2 act" : "reports2")%>">Polls &amp; Bloopers</div></a>
                <% end %>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
           
            <%unless @performance.blank?%>
             
      <%unless @performance.performance_img.blank?%>
	   <div class="polls newpolls">
			 <%= link_to (image_tag @performance.performance_img, :style => "width:100%;height:230px;"),@performance.worst_performance  rescue nil%>
	
      <%end%>
       </div>
    
      <%unless @performance.best_performance.blank?%>
         <div class="polls newpolls">
		  <!-- <div class="sectionLeftBot"> -->
		   <%= link_to (image_tag @performance.best_performance, :style => "width:100%;height:230px;"),@performance.worst_performance  rescue nil%>
		  <!-- </div> -->
           </div>
	  <%end%>
  
            
	<%else%>

  <%end%>
            
        </div>
 