    <div id="response-menu">
      <nav id="nav" role="navigation">
            <div id='cssmenu'>
                <ul>

          <li class='<%= @active_tab == "home" ? "active" : "" %>'><a href='<%= root_path %>' class='<%= @active_tab == "home" ? "active" : "" %>'><span>Home</span></a></li>
          <%if generate_path('About us') %>
            <li><a href='<%= generate_path('About us') %>'><span>About Us</span></a></li>
          <% end %>
          <% active_tab = @sub_action == "my_reviews" %>
          <li class='<%= active_tab ? "active" : "" %>' ><a href='<%= user_review_path %>' class='<%= active_tab ? "active" : "" %>' ><span>Reviews</span></a></li>
          <% if generate_path('csr')  %>
            <li><a href='<%= generate_path('csr') %>'><span>CSR</span></a></li>
          <% end %>
          <% if @resource_types%>
            <li><a href='<%= resource_path(@resource_types.first) %>'><span>Resources</span></a></li>
          <% end %>

          <li><a href='<%= faqs_url %>'><span>FAQ</span></a></li>
          <% if user_signed_in? %>
           <li class='<%= @active_tab == "my_account" ? "active" : "" %>'> <a href='<%= profile_path %>' class='<%= @active_tab == "my_account" ? "active" : "" %>'><span>My Account</span></a></li>
          <% else %>
            <% active_tab = params["controller"] ==  "users/sessions" || params["controller"] ==  "users/registrations"%>
           <li class='<%= active_tab ? "active" : "" %>'><a href='<%= new_user_session_path %>' class='<%= active_tab ? "active" : "" %>'><span>My Account</span></a></li>
          <% end%>
          </li>
          <li><a href='<%= contact_us_url %>' class="last"><span>Contact Us</span></a></li>
          </ul>
            </div>
            
        </nav>
    </div>
