    <div id="response-menu">
      <nav id="nav" role="navigation">
            <div id='cssmenu'>
                <ul>
          <li class="active"><a href='<%= root_path %>' class="active"><span>Home</span></a></li>
          <%if generate_path('About us') %>
            <li><a href='<%= generate_path('About us') %>'><span>About Us</span></a></li>
          <% end %>
          <li><a href='<%= user_review_path %>'><span>Reviews</span></a></li>
          <% if generate_path('csr')  %>
            <li><a href='<%= generate_path('csr') %>'><span>CSR</span></a></li>
          <% end %>
          <% if @resource_types%>
            <li><a href='<%= resource_path(@resource_types.first) %>'><span>Resources</span></a></li>
          <% end %>

          <li><a href='<%= faqs_url %>'><span>FAQ</span></a></li>
          <% if user_signed_in? %>
           <li> <a href='<%= profile_path %>'><span>My Account</span></a></li>
          <% else %>
           <li> <a href='<%= new_user_session_path %>'><span>My Account</span></a></li>
          <% end%>
          </li>
          <li><a href='<%= contact_us_url %>' class="last"><span>Contact Us</span></a></li>
          </ul>
            </div>
            
        </nav>
    </div>
