  <div class="page-link">
          <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#">Resources</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#" class="selected"><%= @resource_type.name %></a></li>
                
            </ul>
        </div>  
 <div class="section-one">
         <div class="reports">
              <div class="heading1">Resources</div>
              <% @resource_types.reverse.each do |resource_type| %>
                <a href="<%= resource_path(resource_type.slug) %>">
                  <div class="<%= (@resource_type.slug == resource_type.slug ? "reports2 act" : 'reports2') if resource_type.resources.count > 0 %>">
                    <%= resource_type.name.titlecase if resource_type.resources.count > 0 %>
                  </div></a>
              <% end %>


                <div class="clear"></div>
            </div>
          <div class="clear"></div>
       
        

  <%unless @performance.blank?%>
      <%unless @performance.performance_img.blank?%>
           <div class="polls newpolls"> 
       <%= link_to (image_tag @performance.performance_img,:style => "width:236px;height:230px;" ),@performance.worst_performance  rescue nil%>
      </div>
      <%end%>
      <%#unless @performance.best_performance.blank?%>
        <!-- <div class="polls"> -->
          <%#=@performance.best_performance.html_safe rescue nil%>
      <!-- </div> -->
    <%#end%>
    
  <%else%>

  <%end%> 
</div>