<div class="page-link">
        	<ul>
            	<li><a href="#">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#">Review</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#" class="selected">Complaint</a></li>
            </ul>
        </div>
        <div class="clear"></div>
<%unless params[:id].present?%>
<%= form_for(@review) do |f|%>
        <div class="cmp-section">
			<img src="/assets/compliment_small.png" alt="" title="Xema Xema" class="left-align">
            <div class="cmp-head">Please give details of your <span style="color:#008000;">Compliment</span></div>
		</div>
        
        <div class="clear"></div>
        <div class="max-box">
        	
            <div class="join-form-box">
            
				<div class="login-field-box4">
                	<div class="text-box1">Subject*</div>
                    <input type="text" class="field4" name="">
                </div>
                <div class="clear"></div>
        		<div class="form-box1 fr-bt">
            	<div class="login-field-box">
                	<div class="text-box1">Nature Of Review*</div>
                    <select class="drp-select1 pages"  name="pages" >
                      <option value="" selected="selected">Select Nature Of Review</option>
                      <option value="">fdfsdfdsfs</option>
                      <option value="">fsfsdfdf</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Incident Date*</div>
                    <select class="drp-select1 pages"  name="pages" >
                      <option value="" selected="selected">Select Incident Date</option>
                      <option value="">fdfsdfdsfs</option>
                      <option value="">fsfsdfdf</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Industry*</div>
                    <select class="drp-select1 pages"  name="pages" >
                      <option value="" selected="selected">Select Industry</option>
                      <option value="">fdfsdfdsfs</option>
                      <option value="">fsfsdfdf</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Company*</div>
                    <select class="drp-select1 pages"  name="pages" >
                      <option value="" selected="selected">Select Company</option>
                      <option value="">fdfsdfdsfs</option>
                      <option value="">fsfsdfdf</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Town*</div>
                    <select class="drp-select1 pages"  name="pages" >
                      <option value="" selected="selected">Select Town</option>
                      <option value="">fdfsdfdsfs</option>
                      <option value="">fsfsdfdf</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Location*</div>
                    <select class="drp-select1 pages"  name="pages" >
                      <option value="" selected="selected">Select Location</option>
                      <option value="">fdfsdfdsfs</option>
                      <option value="">fsfsdfdf</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Person Responsible</div>
                    <input type="text" class="field1" name="">
                </div>
                <div class="clear"></div>
                
            </div>
            
            	<div class="form-box2 fr-bt">
            	<div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    <input type="text" class="field1" name="">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box12">Incident Time</div>
                    <select class="drp-select3 pages"  name="pages" >
                      <option value="" selected="selected">00</option>
                      <option value="">00</option>
                      <option value="">00</option>
                    </select>
                    <select class="drp-select3 pages"  name="pages" style="float:right;" >
                      <option value="" selected="selected">00</option>
                      <option value="">00</option>
                      <option value="">00</option>
                    </select>
                    
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    <input type="text" class="field1" name="" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    <input type="password" class="field1" name="" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    <input type="password" class="field1" name="" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    <input type="text" class="field1" name="" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box12">Account Details</div>
                    <input type="text" class="field1" name="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            	<div class="login-field-box4">
                	<div class="text-box1">Your Experience*</div>
                    <textarea class="text-area4 fr-bt" name="" placeholder="Your review will be vetted before being published"></textarea>
                    	
                </div>
               	<div class="clear"></div>
                <span style="float:right;">300 Characters</span>
                <div class="clear"></div>
                <div class="login-field-box4">
                	<div class="text-box1">Upload File</div>
                    <!--<div id='file_browse_wrapper'>
                    <input type='file' id='file_browse' />
                    </div>-->
                    <input type="file" />
                </div>
                <div class="clear"></div>
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    
                </div>
                <div class="clear"></div>
                <div class="check-one">
                <input type="checkbox" name="" class="ch-box"> I Agree to the Terms &amp; Conditions
                </div>
                <div class="captcha-box2">
                	Captcha
                </div>
                <input type="button" class="btn2 left-align" value="Xema">
            	<div class="clear"></div>
                <br><br>
                <div class="clear"></div>
            
            </div>
            <% end %>
            <% end %>
            <div class="form-box3">
            	<div class="log-head2">Writing a good review </div>
                <p>"You most unhappy customers are your greatest source of learning"</p>
                <p>"You most unhappy customers are your greatest source of learning"</p>
                <p>"You most unhappy customers are your greatest source of learning"</p>
                <p>"You most unhappy customers are your greatest source of learning"</p>
                <p>"You most unhappy customers are your greatest source of learning"</p>
            	<div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>






<%unless params[:id].present?%>
<div class="review">
<%= form_for(@review) do |f|%>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<h3>
			<%if  @review.review_type == 'complaint' || params[:review_type] == 'complaint'%>
				 Please give details of your complaint <%=image_tag ("thumbsD.png")%>
			<%else%>
				 Please give details of your compliment <%=image_tag ("thumbsU.png")%>
			<%end%>
		</h3>

		<div class="review_form">
			<div class="name_lft">Title: *</div>
			<%= f.text_field :title, required: true, "maxlength"=>"60", "min" => "1","max" => "35", :autofocus=>true%>
		</div>

		<div class="review_form">
			<div class="name_lft">Industry: *</div>
			<div class="small-input2">
			  <%= f.collection_select :industry_id, Industry.order(:title) + [Industry.new(:id => Industry.last.id,:title => "Other")], :id,:title,{:include_blank=>"Select Industry"},:rel => "/industry/companies_by_industry",  required: true, onchange: 'CheckOther();'%>
			  <input type="text" id="other_type" name="other_type"><br/>
			</div>

		</div>

		<div class="review_form">
			<div class="name_lft">Company: *</div>
			<div class="small-input2">
			    <%= f.collection_select :company_id, @companies, :id, :title,  {:include_blank=>"Select Company"}, :rel => "/company/towns_by_company", required: true%>
		    <input type="text" id="txt_review_company_id" name="txt_review_company_id"><br>

			</div>
		</div>

		<div class="review_form">
			<div class="name_lft">Town: *</div>
			<div class="small-input2">
			   <%= f.collection_select :town_id, @towns+ [Town.new(:id => Town.last.id + 1,:title => "Others")], :id, :title, {:include_blank=>"Select Town"}, :rel => "/town/locations_by_town_and_company",  required: true,:onchange=> "CheckOther_town()"%>
			   <!-- <input type="text" id="txt_review_town_id" name="txt_review_town_id"><br> -->
			   	<input type="text" id="other_town" name="txt_review_town_id"><br>
			</div>

		</div>

		<div class="review_form">
			<div class="name_lft">Location: *</div>
			<div class="small-input2">
			   <%= f.collection_select :location_id, @locations ,:id ,:title, {:include_blank=>"Select Location"},  required: true%>
			   	<input type="text" id="txt_review_location_id" name="txt_review_location_id"><br>
			</div>
		</div>


		<div class="review_form">
				<div class="name_lft">Person Responsible: </div>
				<div class="small-input">
						<%= f.text_field :personal_responsible, "maxlength"=>"60", "min" => "1","max" => "60"%>
				</div>
		</div>

		<div class="review_form">
			<div class="name_lft">Nature of review: </div>
			<div class="small-input2">
			  <%= f.select :nature_of_review, @nature_of_reviews.map { |nr| [nr.title]}, {},:include_blank=>false, onchange: "CheckOther2()" %>
			  	<input type="text" id="nature" name="nature">
			</div>
		</div>

		<div class="review_form">
			<div class="name_lft">Message </div>
			<div>
			  <%= f.text_area :message, "maxlength"=>"1200", "min" => "1","max" => "300",:rows=>"5"%>
			</div>
		</div>
		<% if params[:review_type] == "complaint" %>
		<div class="review_form">
			<div class="name_lft">Desired Outcome </div>
			<div>
			  <%= f.text_area :desired_outcome, "maxlength"=>"1200", "min" => "1","max" => "200",:rows=>"5"%>
			</div>
		</div>
		<% end %>

		<div class="review_form">
			<div class="name_lft">Account Details/reference no.</div>
			<div class="small-input">
			    <%= f.text_field :account_details ,"maxlength"=>"20", "min" => "1","max" => "20"%>
			</div>
		</div>

		<div class="review_form">
			<div class="form_lft">
				<div class="name_lft">Type the following numbers</div>
				<div>
					<%= recaptcha_tags %>
				</div>
			</div>
		</div>

		<div class="review_form">
			<div class="">
					<div class="name_lft">Date: *</div>
					<div class="dob">
						<%= f.text_field :date , :id => "datepicker1",  :style => "width:100px;",required: true %>
					</div>
			</div>
		</div>

		<div class="review_form">
			<div class="">
				<div class="name_lft">Time:</div>
				<div class="dob">
				  <%= f.time_select :datetime%>
				</div>
			</div>
		</div>
		<div class="rgh_in">
 				<input type="checkbox" name="checkbox" value="check" id="ab" />
				  <label for="field_terms"> <%=link_to " I accept the term and conditions. *", "/terms-of-use" ,:target => "new" %></label></div>
		<div class="review_form">
				<div class="name_lft">&nbsp;<%= f.hidden_field :review_type ,:value=>(params[:review_type] ? params[:review_type] :  @review.review_type ) %>
				</div>
				<div>
				<span>Upload File<%= f.file_field :file %>
				</div>
				<%= f.submit "Xema Now" ,:id => "check_checkbox"%>
		</div>

<%end%>
</div> 



<script type="text/javascript">

$('#check_checkbox').click(function (e) {
	var a = document.getElementById("ab")
	if (!a.checked){
		alert("Select Checkbox");
		return false;
	}
	else{
	 var con = confirm("Press Ok to submit or Cancel to review it..");
	 if (con == false){
	 	 e.preventDefault();
	 }

	}

});

$( document ).ready(function() {
	$("#other_type").hide();
	$("#nature").hide();
	$("#other_town").hide();
});

function CheckOther()
{
  if (document.getElementById("review_industry_id").value == <%= Industry.last.id %>){
        $("#other_type").show();
    }     
    else{
       $("#other_type").hide();
    }     
}



function CheckOther2()
{
  if (document.getElementById("review_nature_of_review").value == "Other"){
        $("#nature").show();
    }     
    else{
       $("#nature").hide();
    }     
}

function CheckOther_town()
{
  if (document.getElementById("review_town_id").value == <%= Town.last.id + 1 %>){
        $("#other_town").show();
    }     
    else{
       $("#other_town").hide();
    }     
}


</script>

<%else%>
 <%= render :partial => 'guest_review'%>
<%end%>