<%= form_for @review, :html => {:multipart => true} do |f| %>
<% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
           <%= f.hidden_field :guest, :value => "guest_user" %>
            <%if  @review.review_type == 'complaint' || params[:review_type] == 'complaint'%>
            <img src="/assets/complaint-small.png" alt="" title="Xema Xema" class="left-align">
            <div class="cmp-head"><b>Please give details of your <span>Complaint</b></span></div>
            <% else %>
            <img src="/assets/compliment_small.png" alt="" title="Xema Xema" class="left-align">
            <div class="cmp-head"><b>Please give details of your <span style="color:#008000;">Compliment</b></span></div>
            <% end %>
        
        
        <div class="clear"></div>
   
            
            <div class="join-form-box">
            
                <div class="login-field-box4">
                    <div class="text-box1">Subject *</div>
                    <%= f.text_field :title, required: true, "maxlength"=>"60", "min" => "1","max" => "35", :autofocus=>true, :class => "field4", :placeholder => "Short, direct, informative, impactful." %>
                </div>
                <div class="clear"></div>
                <div class="form-box1 fr-bt no-space">
                <div class="login-field-box">
                    <div class="text-box1">Nature Of Review *</div>
                   <%= f.select :nature_of_review, @nature_of_reviews.map { |nr| [nr.title]}, {:prompt =>"Select Nature of Review"},:include_blank=>false,:class=>"drp-select1", onchange: "CheckOther2()" %>
            
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">Incident Date *</div>
                    <%= f.text_field :date ,:value => @review.date.strftime("%d-%m-%Y") ,:id => "datepicker1",required: true ,:class => "drp-select1" ,:placeholder => "Incident Date"%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">Industry *</div>
                   <%= f.collection_select :industry_id, Industry.order(:title) + [Industry.new(:id => Industry.last.id + 1,:title => "Other - please specify")], :id,:title,{:include_blank=>"Select Industry"},:rel => "/industry/companies_by_industry",:class=>"drp-select1",  required: true, onchange: 'CheckOther();'%>
              
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">Company *</div>
                    <%= f.collection_select :company_id, @companies+  [Company.new(:id => Company.last.id + 1,:title => "Other - please specify")], :id, :title,  {:include_blank=>"Select Company"}, :rel => "/company/towns_by_company",:class=>"drp-select1", required: true, :onchange=> "CheckOther_company()" %>
            
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">Town *</div>
                   <%= f.collection_select :town_id, @towns+ [Town.new(:id => Town.last.id + 1,:title => "Other - please specify")], :id, :title, {:include_blank=>"Select Town"}, :rel => "/town/locations_by_town_and_company",:class=>"drp-select1",  required: true,:onchange=> "CheckOther_town()"%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">Location *</div>
                  <%= f.collection_select :location_id, @locations ,:id ,:title, {:include_blank=>"Select Location"},:class=>"drp-select1",required: true,:onchange=>"CheckOther_location()"%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">Person Responsible</div>
                   <%= f.text_field :personal_responsible, "maxlength"=>"60", "min" => "1","max" => "60" ,:class => "drp-select1", :placeholder => "For better follow-up."%>
                </div>
                <div class="clear"></div>
                
            </div>
            
                <div class="form-box2 fr-bt">
                <div class="login-field-box">
                    <div class="text-box1">&nbsp;</div>
                        <input type="text" id="nature" name="nature" class="drp-select1" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box12" style="font-family:andlso;font-size:15px;">Incident Time</div>
                 <%= f.time_select :datetime,{:default => {:hour => '00', :minute => '00'}},:class=>"field12"%>
                    
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">&nbsp;</div>
                    <input type="text" id="other_type" name="other_type" class="drp-select1" placeholder="Other">
                
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">&nbsp;</div>
                    <input type="text" id="other_company" name="txt_review_company_id" class="drp-select1" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">&nbsp;</div>
                    <input type="text" id="other_town" name="txt_review_town_id" class="drp-select1"  placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box1">&nbsp;</div>
                        <input type="text" id="txt_review_location_id" name="txt_review_location_id" class="drp-select1" placeholder="Other">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                    <div class="text-box12" style="font-family:andlso;font-size:15px;">Account Details</div>
                    <%= f.text_field :account_details ,"maxlength"=>"20", "min" => "1","max" => "20" ,:class => "drp-select1", :placeholder => "This will not be published." %>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
                <div class="login-field-box4">
                    <div class="text-box1">Your &nbsp;Experience *</div>
               
                    <%= f.text_area :message, "min" => "1","max" => "1200",:rows=>"5",:class=>"text-area4 fr-bt", :required => true ,:placeholder=>"Your review will be vetted before being published." %>
                        
                </div>
                <div class="clear"></div>
                <span style="float:right;">1200 Characters</span>
                


        <% if params[:review_type] == "complaint" || @review.review_type == 'complaint'%>
        <div class="clear"></div>
        <div class="login-field-box4">
                    <div class="text-box1">Desired Outcome *</div>
                      <%= f.text_area :desired_outcome, "maxlength"=>"200", "min" => "1","max" => "200", :class=> "text-area4 fr-bt",:required => true, :placeholder=>"What action would you like from the company?"%>
                    
                </div>
                   <div class="clear"></div>
                <span style="float:right;">200 Characters</span>
        <% end %>

             
                <div class="clear"></div>
                <div class="login-field-box4">
                    <div class="text-box1">Upload File</div>
                    <!--<div id='file_browse_wrapper'>
                    <input type='file' id='file_browse' />
                    </div>-->
                    <%= f.file_field :file,:value => @review.file_cache %>
                    <%= f.hidden_field :file_cache %>
                </div>
                <strong><b><%if @file.present?%> <%= image_tag(@file, :size => "90x90") rescue nil%> <%end%></b></strong>
                <div class="clear"></div>
                <div class="login-field-box">
                    <div class="text-box1">&nbsp;</div>
                    
                </div>
                <div class="clear"></div>
                <div class="check-one">
                    <input type="checkbox" name="checkbox" value="check" id="ab" class="ch-box" />
                  <label for="field_terms"> <%=link_to " I agree to the Terms & Conditions *", "/terms-of-use" ,:target => "new", :style => "color:#fbaf3d;font-family:andlso;font-size:15px;" %></label>
                </div>
                <div class="check-one">
                   <span style = "font-weight: lighter;color:#696969;font-family:andlso;font-size:15px;">Are you human? Please enter the values as shown in the box below.</span>
                </div>
                        
                        <div>
                     <%= recaptcha_tags %><br/>
                </div>
                        <%= f.hidden_field :review_type ,:value=>(params[:review_type] ? params[:review_type] :  @review.review_type ) %>
                <br/>
                <%= f.submit "Xema" ,:id => "check_checkbox",:class=>"btn2 left-align"%>
            
            
            </div>
            <% end %>


<script type="text/javascript">

$('#check_checkbox').click(function (e) {
    var a = document.getElementById("ab")
    if (!a.checked){
        alert("Please select the Terms and Conditions to continue.");
        return false;
    }
    else{
     var con = confirm("Submit your Review?\nClick OK to submit or CANCEL to continue writing your review.");
     if (con == false){
         e.preventDefault();
     }

    }

});

$( document ).ready(function() {
    $("#other_type").hide();
    $("#nature").hide();
    $("#other_town").hide();
    $("#other_company").hide();
});

function CheckOther()
{
  if (document.getElementById("review_industry_id").value == <%= Industry.last.id+1 %>){
        $("#other_type").show();
        $("#other_type").prop('required',true);
    }     
    else{
       $("#other_type").hide();
       $("#other_type").prop('required',false);
    }     
}



function CheckOther2()
{
  if (document.getElementById("review_nature_of_review").value == "Other - please specify"){
        $("#nature").show();
        $("#nature").prop('required',true);
    }     
    else{
       $("#nature").hide();
       $("#nature").prop('required',false);
    }     
}

function CheckOther_company()
{
  if (document.getElementById("review_company_id").value == <%= Company.last.id + 1 %>){
        $("#other_company").show();
        $("#other_company").prop('required',true);
    }     
    else{
       $("#other_company").hide();
       $("#other_company").prop('required',false);
    }     
}

function CheckOther_town()
{
  if (document.getElementById("review_town_id").value == <%= Town.last.id + 1 %>){
        $("#other_town").show();
        $("#other_town").prop('required',true);
    }     
    else{
       $("#other_town").hide();
       $("#other_town").prop('required',false);
    }     
}


function CheckOther_location()
{
  if (document.getElementById("review_location_id").value == "Other - please specify"){
        $("#txt_review_location_id").show();
        $("#txt_review_location_id").prop('required',true);
    }     
    else{
       $("#txt_review_location_id").hide();
       $("#txt_review_location_id").prop('required',false);
    }     
}


</script>