<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
  <!-- custom scrollbar plugin -->
  <script src="/assets/jquery.mCustomScrollbar.concat.min.js"></script>
  
  <script>
    (function($){
      $(window).load(function(){
        
        $("a[rel='load-content']").click(function(e){
          e.preventDefault();
          var url=$(this).attr("href");
          $.get(url,function(data){
            $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
            //scroll-to appended content 
            $(".content").mCustomScrollbar("scrollTo","h2:last");
          });
        });
        
        $(".content").delegate("a[href='top']","click",function(e){
          e.preventDefault();
          $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
        });
        
      });
    })(jQuery);
  </script>
<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>
	<div class="reviews-box">
            	<div class="review-center">
      
<div class="home-grid">
    <table cellpadding="0" cellspacing="0" class="grid-head-tbl">
        <tr>
            <td width="14%" align="center">Date</td>
            <td width="09%" align="center">Review</td>
            <td width="3%">&nbsp;</td>
            <td width="18%" align="left">Company</td>
            <td width="3%">&nbsp;</td>
            <td width="30%" align="center">Subject</td>
            <td width="19%" align="right">Comments</td>
            <td width="5%"></td>
        </tr>
    </table>
      <div class="content mCustomScrollbar">
                <table cellpadding="0" cellspacing="0" class="grid-tbl">
                  <%@reviews.each do |review| %>
                        <tr>
                            <td width="14%"><%=review.created_at.strftime("%d %b %Y")%></td>
                            <% if review.review_type == 'complaint'%>
                            <td width="9%" align="center" ><img src="/assets/red_star.png" alt=""></td>
                            <% else %>
                            <td width="9%" align="center"><img src="/assets/green_star.png" alt=""></td>
                            <% end %>
                            <td width="3%">&nbsp;</td>
                            <td width="20%" class = "design"><%= link_to review.try(:company).try(:title),search_reviews_path(company_id: review.company_id) %></td>
                            <td width="2%">&nbsp;</td>
                            <td width="30%" class = "design"><%= link_to review.title.truncate(20),review_path(review) %></td>
                            <td width="19%">
                              <table class="comment-tbl">
                                <tr>
                                <%if review.comments.published.count > 0 and review.comments.published.last.user.present? and ['admin','agent'].include? review.comments.published.last.user.role %>
                                <td><img src="/assets/fill.png" alt=""><%=review.comments.published.count%><br><span>Company Response</span></td>
                                <% else %>
                                <td><img src="/assets/blank.png" alt=""> <%=review.comments.published.count%><br><br><span></span></td>
                                <% end %>
                                <td></td>
                                </tr>
                                </table>
                            </td>
    
                        </tr>
                                        
                      <% end %>
                        </table>
            </div>
      </div>


</div></div>

