<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
  <!-- custom scrollbar plugin -->
  <script src="/assets/jquery.mCustomScrollbar.concat.min.js"></script>
  
  <script>
    (function($){
      $(window).load(function(){
        
        $("a[rel='load-content']").click(function(e){
          e.preventDefault();
          var url=$(this).attr("href");
          $.get(url,function(data){
            $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
            //scroll-to appended content 
            $(".content").mCustomScrollbar("scrollTo","h2:last");
          });
        });
        
        $(".content").delegate("a[href='top']","click",function(e){
          e.preventDefault();
          $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
        });
        
      });
    })(jQuery);
  </script>
<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>
 <p id="notice"><%#= notice %></p>
      <div class="max-box">
        
         
        	<div class="form-box21bank">
             <div class="information-new22" style="border:none;">
                  <div class="log-head"><%= @review.company.title rescue nil %> <%= @review.review_type.titlecase %></div>
                  <div class="tablenew">
                   	<div class="deatail">
                     	 <table cellpadding="0" cellspacing="0" class="grid-tbl3">
                        <tr>
                            <td width="20%" class="head"> Company</td>
                            <td width="20%"><%= @review.company.title rescue nil %></td> 
  
                          </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Town</td>
                            <td width="20%"><%=@review.town.title rescue nil %></td>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Customer</td>

                            <td width="20%"><%=@review.user.preferred_alias rescue nil %></td>

                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Nature of Review</td>

                            <td width="20%"><%= @review.nature_of_review %></td>

                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Incident Date/Time</td>

                            <td width="20%"><%= @review.date.strftime("%d %b %Y")%> <%=@review.datetime.strftime("%H:%M")%></td>

                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Subject</td>

                            <td width="20%"> <%= @review.title%></td>

                            </td>
                        </tr>
                         </table>
                    </div>
                    <div class="deatail1">
                     	 <table cellpadding="0" cellspacing="0" class="grid-tbl3">
                        <tr>
                            <td width="20%" class="head"> Industry</td>

                            <td width="20%">	<%=@review.industry.title  rescue nil %></td> 

  
                          </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Location</td>

                            <td width="20%"><%=@review.location.title rescue nil %></td>

                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Ticket No.</td>


                            <td width="20%"> <%=@review.ticket_number %></td>


                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head">Date/Time</td>


                            <td width="20%"> <%=@review.created_at.strftime("%d %b %Y" " %H:%M")%></td>


                            </td>
                        </tr>
                        <tr>
                            <td width="20%" class="head2">Conversion</td> 
                            <td width="20%">
                            	<% if @review.change_date %>
				  	                Yes
				                <% else %>
				                    No
				                <% end %></td>
                            </td>
                        </tr>
                        
                         </table>
                    </div>
                   </div>
                  <div class="clear"></div>
                   <p>
                       <%= raw (@review.is_modified ? @review.modified_review : @review.message) %>
                   </p> 
            </div>
              <div class="clear"></div>
              <div class="information-new22" style="border:none; margin-bottom:20px;">
            <%if current_user && (current_user == @review.user) && @review.comments.supplier_comments.count > 0%>
     		<% if @review.is_ticket_open == false %>
  		 	<%=form_for(@review) do |f| %>
  		 
				<% if @review.review_type == 'complaint' %>
				
					<div class="log-head">How do you feel after the Company's response?</div>
				   <p>
                      Would you like to change your review from a complaint to a compliment after the response you have received from the company? If yes, please select ‘Happy’. However, if you are still not satisfied with the service you have received, please select ‘Not Happy.
                   </p>
			  	<%=f.hidden_field "e" , :value=>''%>		
			  	<div class="tablenew">
                       <div class="img-section1">
    	   		 <ul> 
    	   		 	<li class="grow"> 
    	   		 		<%= f.submit "",  :name => "happy",:class => "happy"%></li>
	    		  <li class="last grow"><%= f.submit "" , :name => "sad",:class => "sad"%></li>
	    		  </ul>
	    		</div></div>
				  <%end%>
				<%end%>
	    <%end%>
	  <%end%>
           
                     <div class="clear"></div> 
                    <% if @review.comments.published.count > 0%>
                   <div class="log-head">Comments</div>
                   <div class="content4 mCustomScrollbar">
                   <%= render @review.comments.published %>
                          
                <div class="clear"></div>
                  </div>
                  <% else %>
                <% end %>
             </div>

                  <div class="clear"></div> 
             <div class="information-new22" style="border:none;">
                  <div class="log-head">Add a Comment</div>

                  <%= render :file => 'comments/new' %>
                    
               </div>
                   
            </div>  

			</div>


    

  
 



<style type="text/css">
.rgh_in{
padding: 15px;	
}
.sad{
    background-image:url("/assets/not-happy.png");
      background-color: Transparent;
      border: 0;
    font-size:0;
    width:160px !important;
    min-width: 155px;
    height:161px !important;
    cursor: pointer !important ;
}​
</style>
<style type="text/css">

.happy{
    background-image:url("/assets/happy.png");
        background-color: Transparent;
      border: 0;
    font-size:0;
    width:160px !important;
    min-width: 153px;
    height:161px !important;
    cursor: pointer !important ;
}​
</style>
