<%content_for :left do%>
	<span class="span3">
		 <%=render :partial=> "application/my_account_left"%>
	</span>
<%end%>
<span class="span7">
  <p id="notice"><%#= notice %></p>
  <%= form_for(@review) do |f|%>
    <div style="background-color:#FBAF3F;margin-bottom:2px;padding:5px;height:20px;color:white;"><%=@review.user.first_name rescue nil %>'s <%=@review.review_type%> &nbsp;Ticket No: <%=@review.ticket_number %></div>
			<div style="background-color:#E1E1E1;padding:5px;margin-bottom:10px;">    
				<div>
					<div class="form_lft">
						<div class="name_lft">Company: </div>
						<div>
							<%=@review.company.title  rescue nil %>
						</div>
					</div>
					<div class="form_lft">
						<div class="name_lft">Industry: </div>
						<div>
							<%=@review.industry.title  rescue nil %>
						</div>
					</div>
				</div>
				<div>
					<div class="form_lft">
						<div class="name_lft">Town: </div>
						<div>
				    <%=@review.town.title rescue nil %>
						</div>
					</div>
					<div class="form_lft">
						<div class="name_lft">Location: </div>
						<div>
					    <%=@review.location.title rescue nil %>
						</div>
					</div>
				</div>
				<div>
					<div class="form_lft">
						<div class="name_lft">Date/Time: </div>
						<div>
				     <%=@review.updated_at.strftime("%d %b %Y" " %H:%M")%>
						</div>
					</div>
					<div class="form_lft">
						<div class="name_lft">Person Responsible: </div>
						<div>
				    <%= @review.personal_responsible%>
						</div>
					</div>
				</div>

				<div>
					<div class="form_lft">
						<div class="name_lft">Nature of Review: </div>
						<div>
						<%= @review.nature_of_review %>
						</div>
					</div>
				    
					<div class="form_lft">
						<div class="name_lft">Incident Date: </div>
						<div>
							<%= @review.date.strftime("%d %b %Y")%> <%=@review.datetime.strftime("%H:%M")%>
						</div>
				</div>

			
				  <div class="name_lft">Title: </div>
				  <div>
				  <%= @review.title%>
				  </div>
			
				  <div class="name_lft">Attachment: </div>
				  <div>
				  <%= @review.archive_attachment? ? "No Attachment" : (link_to image_tag(@review.file.url),@review.file.url) %>
				  </div>
			</div>
  	</div>
    <div>
      <%= raw (@review.is_modified ? @review.modified_review : @review.message) %>
    </div>
  <%end%>
  
  <h3>Comments</h3>
  <div>
    <%= render @review.comments.published %>
  </div>
  
  <%= render :file => 'comments/new' %>
  
  <%if current_user && current_user == @review.user && @review.comments.supplier_comments.count > 0%>

  		<% if @review.is_ticket_open == false %>
  		 	<%=form_for(@review) do |f| %>
				<% if @review.review_type == 'complaint' %>
				Want to change your review?<br/>
			  	<%=f.hidden_field "e" , :value=>''%>		
			  	<div class="rgh_in">
    	   		  <%= f.submit "",  :name => "happy",:class => "happy"%>
	    		  <%= f.submit "" , :name => "sad",:class => "sad"%>
	    		</div>
		  <%#else%>
			 <!--  <%#=f.hidden_field :review_type , :value=>'complaint'%>		
			  <div class="rgh_in">
	    		 <%#= f.submit "" ,:class => "sad"%>
	    	</div> -->
			  <%end%>
			<%end%>
    <%end%>
  <%end%>
  <br/>
	
</span>

<style type="text/css">
.rgh_in{
padding: 15px;	
}
.sad{
    background-image:url("/assets/Not Satisfied_PNG.PNG");
    font-size:0;
    width:160px !important;
    min-width: 155px;
    height:150px !important;
}​
</style>
<style type="text/css">

.happy{
    background-image:url("/assets/Satisfied_PNG.PNG");
    font-size:0;
    width:160px !important;
    min-width: 153px;
    height:150px !important;
}​
</style>
