<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>Xemaxema.com | <%= @active_title1 || @active_title.try(:titlecase) || @active_tab.try(:titlecase) %></title>

    <title><%= @meta_title %></title>
    <meta name="keyword" content="<%= raw(@meta_keyword)%>" />
    <meta name="description" content="<%= raw(@meta_description)%>" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=0" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <%= stylesheet_link_tag    "style4", "responsive-nav","jquery.mCustomScrollbar" %>
  <%= javascript_include_tag "application","menu" ,"script"%>
  <%= csrf_meta_tags %>
 <link rel="shortcut icon" type="image/x-icon" href="/assets/fevicon.png">
	<!-- html5.js for IE less than 9 -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
</head>
<body>


<div id="main-wrapper">
  <%=render :partial => 'header' %>
  
    <div class="clear"></div>
  <%=render :partial => 'navigation'%>  

    
    <div class="clear"></div>
    <div id="content-area">
        <%= yield :left %>
        <%= yield %>
        <%= yield :right%>
    </div>
    <div class="clear"></div>
    <div id="footer-area">
    <div class="copy">Copyright &copy; xemaxema.com 2015. All Rights Reserved.</div>

        <div class="clear"></div>
          <div class="design1">
         <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=uAK9DaDyWJa0NmilYGSITcmT8rsRyrDmRAMoiycaOkhVBm9djr3xCEFJYmzL"></script>
        </span>
        
        <a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=www.xemaxema.com','SiteLock','width=600,height=600,left=160,top=170');" ><img alt="website security" title="SiteLock" src="//shield.sitelock.com/shield/www.xemaxema.com"/></a>
       </div>
    </div>

    <div class="clear"></div>
</div>


	<!-- <div class="container"> -->
    <!-- <div class="row"> -->
  		<%#=yield :left%>
			<!--Center page-->
			<%#= yield %>
			<!--center page -->
  		<%#=yield :right%>

 	  <!-- </div> -->
	<!-- </div> -->
	<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 

  ga('create', 'UA-60838553-1', 'auto');

  ga('send', 'pageview');

 

</script>

 
	<%= javascript_tag do %>
  $(function() {
      <%if notice%>
       $.notify('<%= notice %>', "success",{clickToHide: true,autoHide: true, autoHideDelay: 5000,elementPosition: 'top center'
			});
      <%end%>

      <%if alert%>
       $.notify('<%= alert %>',"error",{clickToHide: true,autoHide: true, autoHideDelay: 5000,elementPosition: 'top center'
			});
     <%end%>

  });
<% end %>
</body>
</html>
