<%#content_for :left do%>
<!-- 	<span class="span1">
	</span> -->
<%#end%>
<style type="text/css">

.select_box_custom
{
    font-size: 13px; font-family: corbel; width: 200px;
}
select.select_box_custom option:hover {
       box-shadow: 0 0 10px 100px #fbaf3d inset;
   }
/*.select_box_custom :hover option
{
background-color:#FC0; font-size: 33px;
 }*/
</style>

<% @city_group =
                 [
                 ["Nairobi", [["Arboretum","Arboretum"],["Buruburu","Buruburu"],
                                                                ["CBD","CBD"],
                                                                ["Dagoretti","Dagoretti"],
                                                                ["Donholm","Donholm"],
                                                                ["Eastleigh","Eastleigh"],
                                                                ["Embakasi","Embakasi"],
                                                                ["Garden Estate","Garden Estate"],
                                                                ["Gigiri","Gigiri"],
                                                                ["Highridge","Highridge"],
                                                                ["Hurlingham","Hurlingham"],
                                                                ["Industrial Area","Industrial Area"],
                                                                ["Jamhuri","Jamhuri"],
                                                                ["JKIA","JKIA"],
                                                                ["Kahawa","Kahawa"],
                                                                ["Karen","Karen"],
                                                                ["Kasarani","Kasarani"],
                                                                ["Kiambu Road","Kiambu Road"],
                                                                ["Kileleshwa","Kileleshwa"],
                                                                ["Kilimani","Kilimani"],
                                                                ["Kitengela","Kitengela"],
                                                                ["Komarock","Komarock"],
                                                                ["Langata","Langata"],
                                                                ["Lavington","Lavington"],
                                                                ["Loresho","Loresho"],
                                                                ["Lower Kabete","Lower Kabete"],
                                                                ["Madaraka","Madaraka"],
                                                                ["Milimani","Milimani"],
                                                                ["Mombasa Road","Mombasa Road"],
                                                                ["Museum Hill","Museum Hill"],
                                                                ["Muthiaga","Muthiaga"],
                                                                ["Nairobi West","Nairobi West"],
                                                                ["New Mathaiga","New Mathaiga"],
                                                                ["Ngara","Ngara"],
                                                                ["Ngong Road","Ngong Road"],
                                                                ["Ngumo","Ngumo"],
                                                                ["Parklands","Parklands"],
                                                                ["Ridgeways","Ridgeways"],
                                                                ["Riruta Satelite","Riruta Satelite"],
                                                                ["Riverside","Riverside"],
                                                                ["Rongal","Rongal"],
                                                                ["Rosslyn","Rosslyn"],
                                                                ["Roysambu","Roysambu"],
                                                                ["Ruaka","Ruaka"],
                                                                ["Runda","Runda"],
                                                                ["South B","South B"],
                                                                ["South C","South C"],
                                                                ["Spring Valley","Spring Valley"],
                                                                ["State House Crescent","State House Crescent"],
                                                                ["Thigiri","Thigiri"],
                                                                ["Thika Road","Thika Road"],
                                                                ["Umoja","Umoja"],
                                                                ["Upper Hill","Upper Hill"],
                                                                ["Valley Road","Valley Road"],
                                                                ["Westlands","Westlands"]]],
                 ["Coast", [["Bamburi","Bamburi"],["CBD","CBD"],["Diani","Diani"],["Kilifi","Kilifi"],["Lamu","Lamu"],["Malindi","Malindi"],["Mombasa","Mombasa"],["Nyali","Nyali"],["Voi","Voi"],["Watamu","Watamu"]]],
                 ["Kisumu", [["Kisumu", "Kisumu"]]],["Other",[["Other","Other"]]],]%>
				    


  <%= stylesheet_link_tag    "jquery.ui.datepicker" %>

<!-- <script src="/assets/jquery.dd.js"></script> -->
<script>
// function createByJson() {
// 	var jsonData = [					
// 					{description:'Choos your payment gateway', value:'', text:'Payment Gateway'},					
// 					{image:'images/msdropdown/icons/Amex-56.png', description:'My life. My card...', value:'amex', text:'Amex'},
// 					{image:'images/msdropdown/icons/Discover-56.png', description:'It pays to Discover...', value:'Discover', text:'Discover'},
// 					{image:'images/msdropdown/icons/Mastercard-56.png', title:'For everything else...', description:'For everything else...', value:'Mastercard', text:'Mastercard'},
// 					{image:'images/msdropdown/icons/Cash-56.png', description:'Sorry not available...', value:'cash', text:'Cash on devlivery', disabled:true},
// 					{image:'images/msdropdown/icons/Visa-56.png', description:'All you need...', value:'Visa', text:'Visa'},
// 					{image:'images/msdropdown/icons/Paypal-56.png', description:'Pay and get paid...', value:'Paypal', text:'Paypal'}
// 					];
// 	$("#byjson").msDropDown({byJson:{data:jsonData, name:'payments2'}}).data("dd");
// }
// $(document).ready(function(e) {		
// 	//no use
// 	try {
// 		// var pages = $(".pages").msDropdown({on:{change:function(data, ui) {
// 		// 										var val = data.value;
// 		// 										if(val!="")
// 		// 											window.location = val;
// 		// 									}}}).data("dd");

// 		// var pagename = document.location.pathname.toString();
// 		pagename = pagename.split("/");
// 		pages.setIndexByValue(pagename[pagename.length-1]);
// 		$("#ver").html(msBeautify.version.msDropdown);
// 	} catch(e) {
// 		//console.log(e);	
// 	}
	
// 	$("#ver").html(msBeautify.version.msDropdown);
		
// 	//convert
// 	$("select").msDropdown({roundedBorder:false});
// 	createByJson();
// 	$("#tech").data("dd");
// });
// function showValue(h) {
// 	console.log(h.name, h.value);
// }
// $("#tech").change(function() {
// 	console.log("by jquery: ", this.value);
// })
// //
</script>

<div class="page-link">
        	<ul>
            	<li><a href="#">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#">My Account</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="#" class="selected">Register</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        
        <div class="heading2">Register</div>
        <div class="clear"></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|%>
<%= hidden_field_tag :guest_token ,params[:guest_token].present? ? params[:guest_token] : @user.guest_token %>
	<% if @user.present? && @user.errors.any? %>
					<div class="fom_con" style="color:red;">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
						<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>
				<% end %>
        <div class="max-box">
        	<div class="form-box1">
            	<div class="login-field-box">
                	<div class="text-box1">First Name*</div>
                    <%= f.text_field :first_name, required: true,:pattern => '[A-Za-z]+' ,"maxlength"=>"35", "min" => "1","max" => "35",:class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Preferred Alias*</div>
                    <%= f.text_field :preferred_alias, required: true, "maxlength"=>"20", "min" => "1","max" => "20","id" =>"user_alias",:class => "field1"%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Email*</div>
                    <%= f.email_field :email, required: true , "maxlength"=>"70", "min" => "1","max" => "70", "autocomplete" => "off",:id=>"user_email",:value=>(params[:email] ? params[:email] : @user.email ), :class => "field1"%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Password*</div>
                     <%= f.password_field :password, required: true , "maxlength"=>"15", "min" => "8","max" => "15",:id=>"password1", :class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Gender*</div>
                	  <select class="field1 select_box_custom"  name="user['gender']" >
                      <option>Select Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Age*</div>
                   <%= f.select :age, [["18-25", "18-25"],["26-35", "26-35"],["36-45", "36-45"],["46-55", "46-55"],["55+", "55+"]], {},:class=>"field1 select_box_custom"%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Address Line1</div>
                    <%= f.text_field :address_line1, "maxlength"=>"254", "min" => "1","max" => "254", :class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Town</div>
                    <%= f.text_field :town, "maxlength"=>"50", "min" => "1","max" => "50", :class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Country*</div>
                    <%=country_select("user", "country",{ "Kenya" => "Kenya"} ,{},:class =>"field1 select_box_custom")%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Security Question*</div>
                     <select class="field1 select_box_custom" name="user[secret_question]" required = true>
                     	    <option>Select Question</option>
									<option value="What was your childhood nickname?">
									  What was your childhood nickname?
									</option>
									<option value="In what city or town was your first job?">
									  In what city or town was your first job?
									</option>
									<option value="What is your mother's maiden name?">
									  What is your mother's maiden name?
									</option>
								</select>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Answer*</div>
                     <%= f.text_field :answer, required: true, "maxlength"=>"50", "min" => "1","max" => "50", :class => "field1" %>
                </div>
                <div class="clear"></div>
                
            </div>
            
            <div class="form-box2">
            	<div class="login-field-box">
                	<div class="text-box1">Last Name*</div>
                     <%= f.text_field :last_name, required: true,:pattern => '[A-Za-z]+' ,"maxlength"=>"35", "min" => "1","max" => "35",:class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Confirm Email*</div>
                      <input type="email" id='email_confirmation', maxlength="50" min = "1" max = "50" autocomplete="off" value="<%= @user.email %>" required=true oncopy="return false" oncut="return false" onpaste="return false" class="field1">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Confirm Password*</div>
                      <%= f.password_field :password_confirmation, required: true , "maxlength"=>"15", "min" => "8","max" => "15",:id=>"password2", :class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">DOB</div>
                    <%= f.text_field :dob , :id => "datepicker1",required: true ,:class => "field1" %>
                    <%#= f.date_select :dob, :start_year =>  (Time.now.year - 100),:end_year=>(Time.now.year - 18), order: [:day,:month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year'}%>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Address Line2</div>
                     <%= f.text_field :address_line2, "maxlength"=>"254", "min" => "1","max" => "254" ,:class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">Code</div>
                     <%= f.text_field :postal_code , "maxlength"=>"50", "min" => "1","max" => "50", :class => "field1" %>
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">I Live*</div>
                	<span id="hide">
                		<%= select_tag("user[lives_in]", grouped_options_for_select(@city_group, selected_key = @user.lives_in, prompt = nil), :id=> 'user_i_live' ,:onchange => 'CheckOther();',:class => "field1 select_box_custom") %>
                	</span>
                    </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	<div class="text-box1">&nbsp;</div>
                    <input type="text" class="field1" name="" id="other_type">
                </div>
                <div class="clear"></div>
                
                <div class="login-field-box">
                	
                </div>
                <div class="clear"></div>
                
            </div>
            
            <div class="form-box3">
            	<div class="up-photo"><img src="/assets/dummy-photo.jpg" alt=""></div>


                <div class="check-one">
                <%=f.check_box :is_subscribe ,:class=> "ch-box"%> <span style = "color:#696969">Subscribe to receive Promotional Materials from our partners</span>
                </div>
                <div class="check-one">
                <%=f.check_box :accept_t_and_c , id: "field_terms", required: true, value: true,:class=> "ch-box"%><%=link_to "I Agree to the Term and Conditions. *", "/terms-of-use",:style => "color:#fbaf3d" ,:target => "new" %>
                </div>
                <div>
                	 <%= recaptcha_tags %>
                </div>
                 <input type="submit" class="btn2 left-align" value="Register" id="save">
           
            	<div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
<% end %>




<%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|%>
		<!-- <span class="span6">
			<div class="registerSectionForm">
			
		 	
				
			<span class="span3">
			<div class="rgh">
				<div class="image btn-file" id="avatar_image"> Upload<br>
				  Photo <%#=f.file_field :avatar,:id=>'user_avatar' ,:onchange=>"readImage( this )"%>
				</div> -->
		       
<%#end%>
<%= javascript_include_tag "registrations.js" %>


<script type="text/javascript">
$( document ).ready(function() {
	$("#other_type").hide();
});

function CheckOther()
{
  if (document.getElementById("user_i_live").value == "Other"){
        $("#other_type").show();
    }     
    else{
       $("#other_type").hide();
    }     
}

</script>
