<%#content_for :left do%>
<!-- 	<span class="span1">
	</span> -->
<%#end%>
  <%= stylesheet_link_tag    "jquery.ui.datepicker" %>

<style type="text/css">
.image {
    background-color: #e1e1e1;
    border: 1px solid #e5e5e5;
    color: #fbaf3f;
    display: block;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    width: 120px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    font-family: andlso;
    font-weight:bold;
 font-size:15px;
}

.btn-file:hover {
  text-decoration: underline;
  cursor:pointer;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.select_box_custom
{
    font-size: 13px; font-family: corbel; width: 200px;height: 29px;
}
select.select_box_custom option:hover {
       box-shadow: 0 0 10px 100px #fbaf3d inset;
   }
/*.select_box_custom :hover option
{
background-color:#FC0; font-size: 33px;
 }*/
</style>

<% @city_group =
                 [
                 ["Nairobi", [["Arboretum","Arboretum"],["Buruburu","Buruburu"],
                                                                ["CBD","CBD"],
                                                                ["Dagoretti","Dagoretti"],
                                                                ["Donholm","Donholm"],
                                                                ["Eastleigh","Eastleigh"],
                                                                ["Embakasi","Embakasi"],
                                                                ["Garden Estate","Garden Estate"],
                                                                ["Gigiri","Gigiri"],
                                                                ["Highridge","Highridge"],
                                                                ["Hurlingham","Hurlingham"],
                                                                ["Industrial Area","Industrial Area"],
                                                                ["Jamhuri","Jamhuri"],
                                                                ["JKIA","JKIA"],
                                                                ["Kahawa","Kahawa"],
                                                                ["Karen","Karen"],
                                                                ["Kasarani","Kasarani"],
                                                                ["Kiambu Road","Kiambu Road"],
                                                                ["Kileleshwa","Kileleshwa"],
                                                                ["Kilimani","Kilimani"],
                                                                ["Kitengela","Kitengela"],
                                                                ["Komarock","Komarock"],
                                                                ["Langata","Langata"],
                                                                ["Lavington","Lavington"],
                                                                ["Loresho","Loresho"],
                                                                ["Lower Kabete","Lower Kabete"],
                                                                ["Madaraka","Madaraka"],
                                                                ["Milimani","Milimani"],
                                                                ["Mombasa Road","Mombasa Road"],
                                                                ["Museum Hill","Museum Hill"],
                                                                ["Muthiaga","Muthiaga"],
                                                                ["Nairobi West","Nairobi West"],
                                                                ["New Mathaiga","New Mathaiga"],
                                                                ["Ngara","Ngara"],
                                                                ["Ngong Road","Ngong Road"],
                                                                ["Ngumo","Ngumo"],
                                                                ["Parklands","Parklands"],
                                                                ["Ridgeways","Ridgeways"],
                                                                ["Riruta Satelite","Riruta Satelite"],
                                                                ["Riverside","Riverside"],
                                                                ["Rongal","Rongal"],
                                                                ["Rosslyn","Rosslyn"],
                                                                ["Roysambu","Roysambu"],
                                                                ["Ruaka","Ruaka"],
                                                                ["Runda","Runda"],
                                                                ["South B","South B"],
                                                                ["South C","South C"],
                                                                ["Spring Valley","Spring Valley"],
                                                                ["State House Crescent","State House Crescent"],
                                                                ["Thigiri","Thigiri"],
                                                                ["Thika Road","Thika Road"],
                                                                ["Umoja","Umoja"],
                                                                ["Upper Hill","Upper Hill"],
                                                                ["Valley Road","Valley Road"],
                                                                ["Westlands","Westlands"]]],
                 ["Coast", [["Bamburi","Bamburi"],["CBD","CBD"],["Diani","Diani"],["Kilifi","Kilifi"],["Lamu","Lamu"],["Malindi","Malindi"],["Mombasa","Mombasa"],["Nyali","Nyali"],["Voi","Voi"],["Watamu","Watamu"]]],
                 ["Kisumu", [["Kisumu", "Kisumu"]]],["Other",[["Other - please specify","Other"]]],]%>
				    




<div class="page-link">
        	<ul>
            	<li><a href="<%= root_path %>">Home</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="<%= profile_path %>">My Account</a></li>
                <li><span>&raquo;</span></li>
                <li><a href="<%= new_user_registration_path %>" class="selected">Register</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        
        <div class="heading2">Register</div>
        <div class="clear"></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|%>
<%= hidden_field_tag :guest_token ,params[:guest_token].present? ? params[:guest_token] : @user.guest_token %>
	<% if @user.present? && @user.errors.any? %>
		<div class="fom_con" style="color:red;">
			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
    <% end %>
    <div class="max-box">
        <div class="reg-box1">
            <div class="row-reg">
                <div class="login-field-box row-left">
                  <div class="text-box1">First Name *</div>
                  <%= f.text_field :first_name, required: true,:pattern => '[A-Za-z]+' ,"maxlength"=>"35", "min" => "1","max" => "35",:class => "field1" %>
                </div>
                <div class="login-field-box row-right">
                  <div class="text-box1">Last Name *</div>
                  <%= f.text_field :last_name, required: true,:pattern => '[A-Za-z]+' ,"maxlength"=>"35", "min" => "1","max" => "35",:class => "field1" %>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row-reg">
                <div class="login-field-box row-left">
                    <div class="text-box1">Preferred Alias *</div>
                    <%= f.text_field :preferred_alias, required: true, "maxlength"=>"20", "min" => "1","max" => "12","id" =>"user_alias",:class => "field1"%>
                </div>          
            </div>
            <div class="clear"></div>
            <div class="row-reg">
                <div class="login-field-box row-left">
                    <div class="text-box1">Email *</div>
                    <%= f.email_field :email, required: true , "maxlength"=>"70", "min" => "1","max" => "70", "autocomplete" => "off",:id=>"user_email",:value=>(params[:email] ? params[:email] : @user.email ), :class => "field1"%>
                </div>
                <div class="login-field-box row-right">
                    <div class="text-box1">Confirm Email *</div>
                    <input type="email" id='email_confirmation', maxlength="50" min = "1" max = "50" autocomplete="off" value="<%= @user.email %>" required=true oncopy="return false" oncut="return false" onpaste="return false" class="field1">
                </div>
            </div>
            <div class="clear"></div>
            <div class="row-reg">
                <div class="login-field-box row-left">
                    <div class="text-box1">Password *</div>
                    <%= f.password_field :password, required: true , "maxlength"=>"15", "min" => "8","max" => "15",:id=>"password1", :class => "field1", :placeholder=>"Minimum 8 characters" %>
                </div>
                <div class="login-field-box row-right">
                    <div class="text-box1">Confirm Password *</div>
                    <%= f.password_field :password_confirmation, required: true , "maxlength"=>"15", "min" => "8","max" => "15",:id=>"password2", :class => "field1" %>
                </div>
            </div>
            <!-- <div class="clear"></div> -->
            <!-- <div class="row-reg">
                <div class="login-field-box row-left">
                  <div class="text-box1">Gender *</div>
                  <%= f.select :gender, [["Female", "2"],["Male", "1"]], {:prompt => "Select Gender"},:required => true,:class=>"field1 select_box_custom"%>
                </div>      
            </div> -->
            <!-- <div class="clear"></div> -->
            <!-- <div class="row-reg">
              <div class="login-field-box row-left">
                <div class="text-box1">Age *</div>
                <%= f.select :age, [["18-25", "18-25"],["26-35", "26-35"],["36-45", "36-45"],["46-55", "46-55"],["55+", "55+"]], {:prompt => "Select Age"},:required => true,:class=>"field1 select_box_custom"%>
              </div>
              <div class="login-field-box row-right">
                <div class="text-box1">DOB</div>
                <%= f.text_field :dob , :id => "datepicker1",:class => "field1" %>
              </div>
            </div> -->
            <!-- <div class="clear"></div> -->
            <!-- <div class="row-reg">
              <div class="login-field-box row-left">
                  <div class="text-box1">Address Line1</div>
                  <%= f.text_field :address_line1, "maxlength"=>"254", "min" => "1","max" => "254", :class => "field1" %>
              </div>
              <div class="login-field-box row-right">
                  <div class="text-box1">Address Line2</div>
                  <%= f.text_field :address_line2, "maxlength"=>"254", "min" => "1","max" => "254" ,:class => "field1" %>
              </div>
            </div> -->
            <!-- <div class="clear"></div> -->
            <!-- <div class="row-reg">
              <div class="login-field-box row-left">
                <div class="text-box1">Town</div>
                <%= f.text_field :town, "maxlength"=>"50", "min" => "1","max" => "50", :class => "field1" %>
              </div>
              <div class="login-field-box row-right">
                <div class="text-box1">Code</div>
                <%= f.text_field :postal_code , "maxlength"=>"50", "min" => "1","max" => "50", :class => "field1" %>
              </div>
            </div> -->
            <!-- <div class="clear"></div> -->
            <!-- <div class="row-reg">
              <div class="login-field-box row-left">
                <div class="text-box1">Country *</div>
                <%=country_select("user", "country",{ "Kenya" => "Kenya"} ,{},:class =>"field1 select_box_custom")%>
              </div>
              <div class="login-field-box row-right">
                <div class="text-box1">I Live In *</div>
                <%= select_tag("user[lives_in]", grouped_options_for_select(@city_group, selected_key = @user.lives_in, prompt = nil), :id=> 'user_i_live',:prompt => "Select Location",:required => true ,:onchange => 'CheckOther();',:class => "field1 select_box_custom") %>
              </div>
            </div> -->
            <div class="clear"></div>
            <div class="row-reg">
              <div class="login-field-box row-left">
                <div class="text-box1">Security Question *</div>
                <%= f.select :secret_question, [ ["What is your favourite colour?", "What is your favourite colour?"],["What is your mother's maiden name?" , "What is your mother's maiden name?"], ["What is the name of the Hospital you were born in?", "What is the name of the Hospital you were born in?"] ], {:prompt => "Select Question"},:required => true,:class=>"field1 select_box_custom" %>
              </div>
              <div class="login-field-box row-right">
                <div class="text-box1">&nbsp;</div>
                <input type="text" class="field1" name="other_type" id="other_type", placeholder ="Other" value="<%= @user.lives_in %>">
              </div>
            </div>
            <div class="clear"></div>
            <div class="row-reg">
              <div class="login-field-box row-left">
                <div class="text-box1">Answer *</div>
                <%= f.text_field :answer, required: true, "maxlength"=>"50", "min" => "1","max" => "50", :class => "field1" %>
              </div>          
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-box3">
            <div class="up-photo">
              <div class="image btn-file" id="avatar_image"> Upload<br>
                 Photo <%=f.file_field :avatar,:id=>'user_avatar' ,:onchange=>"readImage( this )"%>
              </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="new-captcha captcha-reg">    
            <div class="check-one">
               <%=f.check_box :is_subscribe ,:class=> "ch-box"%> <span style = "font-weight: lighter;color:#696969;font-family:andlso;font-size:15px;">Subscribe to receive promotional materials from our partners</span>
            </div>
            <div class="check-one">
               <%=f.check_box :accept_t_and_c , id: "field_terms", required: true, value: true,:class=> "ch-box"%><%=link_to "I agree to the Terms and Conditions *", "/terms-of-use",:style => "color:#fbaf3d;font-family:andlso;font-size:15px;" ,:target => "_blank" %>
            </div>
            <div class="check-one">
               <span style = "font-weight: lighter;color:#696969;font-family:andlso;font-size:15px;">Are you human? Please enter the values as shown in the box below.</span>
            </div>
            <div>
               <%= recaptcha_tags %><br/>
            </div>
             <input type="submit" class="btn2 left-align" value="Register" id="save">
        </div>
        <br/>
    </div>   
<% end %>
<br/>&nbsp;




<%= javascript_include_tag "registrations.js" %>


<script type="text/javascript">
$( document ).ready(function() {
    if ($("#other_type").val()){
      $("#other_type").show();
    }
    else
	  $("#other_type").hide();
});

function CheckOther()
{
  if (document.getElementById("user_i_live").value == "Other"){
        $("#other_type").show();
    }     
    else{
       $("#other_type").hide();
    }     
}

</script>
